<h1>Insert the form to create a new instance of your model.</h1>

<form method="post" action="/houses"  enctype="multipart/form-data">
		<label for="title">Title: </label>
   <input type="text" name="name">
   <label for="body">Body: </label>
   <input type="text" name="body">
      <label for="price">Price: </label>
<input name="price" type="number" min="1" step="any" />
  <label for="rent">Alugar: </label>
<input name="rent "type="checkbox" checked="yes" />
  <label for="rent">Vender: </label>
<input name="sell" type="checkbox"  />
   <input multiple="multiple" name="house_attachments[image][]" type="file" id="house_attachments_image">
   <input type ="submit" value="Add Post">
</form>
