.pagy-nav  {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    text-align: left;
}

.pagy-nav   {
    vertical-align: top;
    text-align: center;
}
 .pagy-nav  .page  {
    display: inline-block;
    margin-bottom: 0;
}

.pagy-nav  span.page li>span {
    width: 39px;
    height: 40px;
    line-height: 36px;
    color: #d2d2d2 !important;
    background-color: transparent;
    border: 2px solid #d2d2d2;
    font-weight: 600;
}