<div class="container-fluid justify-content-center mb-3">
    <h1 id="contato" class="h1-responsive font-weight-bold text-center contato">Contato</h1>










    <section class="mb-4">
        <iframe src="https://maps.google.com/maps?q=Rua%20Dr%20Derly%20Elena,%2052&t=&z=19&ie=UTF8&iwloc=&output=embed&z=18" width="100%" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <p class="text-center w-responsive mx-auto mb-5 mt-5 text-mms-secondary"> Caso tenha alguma dúvida ou sugestão entre em contato conosco.</p>
        <div class="row mx-auto w-100 max-w-md texto-premio justify-content-center">
            <div class="col-md-6 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <label for="name" class="mb-0 mt-2">Nome</label>
                                <input type="text" id="name" name="name" class="form-control" required=""> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <label for="email" class="mb-0 mt-2">E-mail</label>
                                <input type="email" id="email" name="email" class="form-control" required=""> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <label for="phone" class="mb-0 mt-2">Telefone</label>
                                <input type="tel" id="phone" name="phone" class="form-control" required=""> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <label for="city" class="mb-0 mt-2">Cidade</label>
                                <input type="text" id="city" name="city" class="form-control" required=""> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <label for="message" class="mb-0 mt-2">Mensagem</label>
                                <textarea type="text" id="message" name="message" rows="6" class="form-control md-textarea" required=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-md-left">
                        <input type="submit" class="btn btn-primary bg-mms w-100 mt-3" value="Enviar"> </div>
                </form>
                <div class="status"></div>
            </div>
            <div class="col-md-3 text-center text-mms">
                <ul class="list-unstyled mb-0" style="padding-top: 2rem;">
                    <li><i class="fas fa-map-marker-alt fa-2x" aria-hidden="true"></i>
                        <p>Rua Dr Derly Elena, 52, sala 9</p>
                        <p>Patitiba</p>
                        <p>Paraty-RJ</p>
                    </li>
                    <li><i class="fas fa-phone mt-4 fa-2x" aria-hidden="true"></i>
                        <p>(24) 99222-3232</p>
                    </li>
                    <li><i class="fas fa-envelope mt-4 fa-2x" aria-hidden="true"></i>
                        <p>noarounomar@hotmail.com</p>
                    </li>
                </ul>
            </div>
     
        </div>
    </section>
</div>