<div class="container-fluid justify-content-center mb-3">
    <h1 id="contato" class="h1-responsive font-weight-bold text-center contato">Contato</h1>
    <section class="mb-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3030.0194705276776!2d-49.25613803241176!3d-25.427539219266855!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdf2a8d8a03435bad!2sMega%20Mania%20da%20Sorte!5e0!3m2!1spt-BR!2sbr!4v1607372391450!5m2!1spt-BR!2sbr" width="100%" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <p class="text-center w-responsive mx-auto mb-5 mt-5 text-mms-secondary"> Caso tenha alguma dúvida ou sugestão entre em contato conosco.</p>
        <div class="row mx-auto w-100 max-w-md texto-premio justify-content-center">
            <div class="col-md-6 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <label for="name" class="mb-0 mt-2">Nome</label>
                                <input type="text" id="name" name="name" class="form-control" required=""> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <label for="email" class="mb-0 mt-2">E-mail</label>
                                <input type="email" id="email" name="email" class="form-control" required=""> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <label for="phone" class="mb-0 mt-2">Telefone</label>
                                <input type="tel" id="phone" name="phone" class="form-control" required=""> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <label for="city" class="mb-0 mt-2">Cidade</label>
                                <input type="text" id="city" name="city" class="form-control" required=""> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <label for="message" class="mb-0 mt-2">Mensagem</label>
                                <textarea type="text" id="message" name="message" rows="6" class="form-control md-textarea" required=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-md-left">
                        <input type="submit" class="btn btn-primary bg-mms w-100 mt-3" value="Enviar Contato"> </div>
                </form>
                <div class="status"></div>
            </div>
            <div class="col-md-3 text-center text-mms">
                <ul class="list-unstyled mb-0" style="padding-top: 2rem;">
                    <li><i class="fas fa-map-marker-alt fa-2x" aria-hidden="true"></i>
                        <p>Rua Marechal Deodoro, 1550</p>
                        <p>Alto Da XV - 80050-010</p>
                        <p>Curitiba - PR</p>
                    </li>
                    <li><i class="fas fa-phone mt-4 fa-2x" aria-hidden="true"></i>
                        <p>(41) 3091-8788</p>
                    </li>
                    <li><i class="fas fa-envelope mt-4 fa-2x" aria-hidden="true"></i>
                        <p>contato@megamaniadasorte.com.br</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 text-center text-mms resp">
                <div class="card m-1">
                    <div class="card-header"> Título emitido pela: </div>
                    <div class="card-body bg-white">
                        <a href="http://www.grupoinvestseguros.com.br" target="_blank"><img src="../assets/images/logo_invest.png" height="100" alt=" INVEST Capitalização"></a>. </div>
                </div>
                <div class="card m-1">
                    <div class="card-header"> Instituição beneficiada: </div>
                    <div class="card-body bg-white">
                        <a href="https://amigosdohc.org.br/" target="_blank"><img src="../assets/images/logo_instituicao.png" height="100" alt="Amigos do HC"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>