
<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1467712651670" style="position: relative; left: -80.5px; box-sizing: border-box; width: 1301px; padding: 80.5px;

    
    background-color: #eceff3;


">

<ul class="row  justify-content-center">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height:150px;">
         
            <img src="../images/island.svg" style="width: 60px;" title="Home" alt="Logo">
             <h3><a href="/houses">Imoveis </a></h3>
           
          
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height:150px;">
             <img src="../images/sailboat.svg" style="width: 80px;" title="Home" alt="Logo">
          
             <h3><a href="/boats">Embarcações</a></h3>
      
    
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight"style="height:150px;">
           <img src="../images/house2.svg" style="width: 60px;" title="Home" alt="Logo">
            <h3><a href="/houses">Imoveis </a></h3>
            
           
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height:150px;">
                 <img src="../images/surveys.svg" style="width: 60px;" title="Home" alt="Logo">
            <h3><a href="/survey">Survey </a></h3>
         
          
          </div>
      </li>
    </ul>
</div>










