
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey vc_custom_1468325452382  vc_custom_1468325452382">

</div>

<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1467712651670" style="position: relative; left: -80.5px; box-sizing: border-box; width: 1301px; padding-left: 80.5px; padding-right: 80.5px;">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="stm-boats-listing-icons ">
                    <a href="/boats" title="Boat" rel="nofollow">
                        <div class="inner">
                            <div class="image"> <img src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2016/07/boat.svg" alt="Boat"> </div>
                            <div class="name heading-font">Boat</div>
                        </div>
                    </a>
                    <a href="https://motors.stylemixthemes.com/boats/inventory/?boat-type=canoe" class="stm_listing_icon_filter_single external" title="Canoe" rel="nofollow">
                        <div class="inner">
                            <div class="image"> <img src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2016/07/canoe.svg" alt="Canoe"> </div>
                            <div class="name heading-font">Canoe</div>
                        </div>
                    </a>
                    <a href="https://motors.stylemixthemes.com/boats/inventory/?boat-type=dinghy" class="stm_listing_icon_filter_single external" title="Dinghy" rel="nofollow">
                        <div class="inner">
                            <div class="image"> <img src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2016/07/dinghy.svg" alt="Dinghy"> </div>
                            <div class="name heading-font">Dinghy</div>
                        </div>
                    </a>
                    <a href="https://motors.stylemixthemes.com/boats/inventory/?boat-type=jet-sky" class="stm_listing_icon_filter_single external" title="Jet Sky" rel="nofollow">
                        <div class="inner">
                            <div class="image"> <img src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2016/07/jet-sky.svg" alt="Jet Sky"> </div>
                            <div class="name heading-font">Jet Sky</div>
                        </div>
                    </a>
                    <a href="https://motors.stylemixthemes.com/boats/inventory/?boat-type=sailboat" class="stm_listing_icon_filter_single external" title="Sailboat" rel="nofollow">
                        <div class="inner">
                            <div class="image"> <img src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2016/07/sailboat.svg" alt="Sailboat"> </div>
                            <div class="name heading-font">Sailboat</div>
                        </div>
                    </a>
                    <a href="https://motors.stylemixthemes.com/boats/inventory/?boat-type=yacht" class="stm_listing_icon_filter_single external" title="Yacht" rel="nofollow">
                        <div class="inner">
                            <div class="image"> <img src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2016/07/yacht.svg" alt="Yacht"> </div>
                            <div class="name heading-font">Yacht</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>