

<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey vc_custom_1468325452382  vc_custom_1468325452382">

</div>


<div class="vc_row wpb_row vc_row-fluid stm-fullwidth-with-parallax vc_custom_1480744685869" style="width: 1301px; margin-left: -95.5px; padding-left: 80.5px; padding-right: 80.5px;">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <h2 style="text-align: center" class="vc_custom_heading vc_custom_1467720791578">Nossos Serviços</h2>
                <div class="colored-separator text-center style_1">
                    <div><i class="stm-boats-icon-wave stm-base-color"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="icon-box icon_box_5691 stm-layout-box-boats  " style="color:#232628">
                    <div class="boat-line"></div>
                    <div class="icon boat-third-color" style="font-size:48px;"> <i class="stm-boats-icon-helm"></i> </div>
                    <div class="icon-text">
                        <h5 class="title heading-font" style="color:#232628">
            Boat Marketing        </h5>
                        <div class="content" style="line-height:24px;">
                            <p><span style="color: #888888;">Committed to aggressively marketing on all major marketing fronts.</span></p>
                        </div>
                    </div>
                </div>
                <style></style>
                <div class="icon-box icon_box_15859 stm-layout-box-boats  " style="color:#232628">
                    <div class="boat-line"></div>
                    <div class="icon boat-third-color" style="font-size:48px;"> <i class="stm-boats-icon-binoculars"></i> </div>
                    <div class="icon-text">
                        <h5 class="title heading-font" style="color:#232628">
            Boat Detective        </h5>
                        <div class="content" style="line-height:24px;">
                            <p><span style="color: #888888;">Let us do the work in finding your next boat. Luxury boat charters are just a click away.</span></p>
                        </div>
                    </div>
                </div>
                <style></style>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <a class="icon-box-link" href="#" title="Icon box 1">
                    <div class="icon-box icon_box_64658 stm-layout-box-boats  " style="color:#232628">
                        <div class="boat-line"></div>
                        <div class="icon boat-third-color" style="font-size:48px;"> <i class="stm-boats-icon-shellfish"></i> </div>
                        <div class="icon-text">
                            <h5 class="title heading-font" style="color:#232628">
            Boat Charter        </h5>
                            <div class="content" style="line-height:24px;">
                                <p><span style="color: #888888;">Luxury yacht charters are just a click away. Let us do the work in finding your next yacht.</span></p>
                            </div>
                        </div>
                    </div>
                </a>
                <style></style>
                <div class="icon-box icon_box_20188 stm-layout-box-boats  " style="color:#232628">
                    <div class="boat-line"></div>
                    <div class="icon boat-third-color" style="font-size:48px;"> <i class="stm-boats-icon-s_ship"></i> </div>
                    <div class="icon-text">
                        <h5 class="title heading-font" style="color:#232628">
            Virtual Tours        </h5>
                        <div class="content" style="line-height:24px;">
                            <p><span style="color: #888888;">Let us do the work in finding your next boat. Luxury boat charters are just a click away.</span></p>
                        </div>
                    </div>
                </div>
                <style></style>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="icon-box icon_box_81838 stm-layout-box-boats  " style="color:#232628">
                    <div class="boat-line"></div>
                    <div class="icon boat-third-color" style="font-size:48px;"> <i class="stm-boats-icon-crew"></i> </div>
                    <div class="icon-text">
                        <h5 class="title heading-font" style="color:#232628">
            Meet Our Crew        </h5>
                        <div class="content" style="line-height:24px;">
                            <p><span style="color: #888888;">Over 20 yachting professionals available to maximize your experience.</span></p>
                        </div>
                    </div>
                </div>
                <style></style>
                <div class="icon-box icon_box_62826 stm-layout-box-boats  " style="color:#232628">
                    <div class="boat-line"></div>
                    <div class="icon boat-third-color" style="font-size:48px;"> <i class="stm-boats-icon-financing"></i> </div>
                    <div class="icon-text">
                        <h5 class="title heading-font" style="color:#232628">
            Yacht Financing        </h5>
                        <div class="content" style="line-height:24px;">
                            <p><span style="color: #888888;">Let us do the work in finding your next boat. Luxury boat charters are just a click away.</span></p>
                        </div>
                    </div>
                </div>
                <style></style>
            </div>
        </div>
    </div>
</div>