
	<div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#1468238791521-8e8c0611-a354" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Specifications</span></a></h4></div>


<div class="vc_tta-panel-body"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">


<div class="stm-tech-infos">
	<div class="stm-tech-title">
					<i class="stm-boats-icon-fan" style="font-size:27px;"></i>
							<div class="title h5">Engines</div>
			</div>

	<table>
		<tbody>
			
	<tr>
		<td>
			<span class="text-transform subtitle">Engine 1</span>
		</td>
		<td class="text-right">&nbsp;</td>
	</tr>

			<tr>
			<td>
				<span class="text-transform ">Engine Brand</span>
			</td>
			<td class="text-right">
				<span class="h6">Man</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Year Built</span>
			</td>
			<td class="text-right">
				<span class="h6">1990</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Engine type</span>
			</td>
			<td class="text-right">
				<span class="h6">Inboard</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Engine/fuel type</span>
			</td>
			<td class="text-right">
				<span class="h6">Diesel</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Location</span>
			</td>
			<td class="text-right">
				<span class="h6">Starboard</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Drive type</span>
			</td>
			<td class="text-right">
				<span class="h6">Direct Drive</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Engine power</span>
			</td>
			<td class="text-right">
				<span class="h6">1200 HP</span>
			</td>
		</tr>
	
	<tr>
		<td>
			<span class="text-transform subtitle">Engine 2</span>
		</td>
		<td class="text-right">&nbsp;</td>
	</tr>

			<tr>
			<td>
				<span class="text-transform ">Engine Brand</span>
			</td>
			<td class="text-right">
				<span class="h6">Man</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Year Built</span>
			</td>
			<td class="text-right">
				<span class="h6">1990</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Engine type</span>
			</td>
			<td class="text-right">
				<span class="h6">Inboard</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Engine/fuel type</span>
			</td>
			<td class="text-right">
				<span class="h6">Diesel</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Location</span>
			</td>
			<td class="text-right">
				<span class="h6">Starboard</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Drive type</span>
			</td>
			<td class="text-right">
				<span class="h6">Direct Drive</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Engine power</span>
			</td>
			<td class="text-right">
				<span class="h6">1200 HP</span>
			</td>
		</tr>
			</tbody>
	</table>
</div>

</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="stm-tech-infos">
	<div class="stm-tech-title">
					<i class="stm-boats-icon-dimensions" style="font-size:27px;"></i>
							<div class="title h5">Dimensions</div>
			</div>

	<table>
		<tbody>
			
			<tr>
			<td>
				<span class="text-transform ">LOA</span>
			</td>
			<td class="text-right">
				<span class="h6">16'6''</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Beam</span>
			</td>
			<td class="text-right">
				<span class="h6">3'4''</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Maximum draft</span>
			</td>
			<td class="text-right">
				<span class="h6">10'4''</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Displacement</span>
			</td>
			<td class="text-right">
				<span class="h6">105,822 lbs Full Load</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Deadrise(multi-angle)</span>
			</td>
			<td class="text-right">
				<span class="h6">17° at Transom</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Dry Weight</span>
			</td>
			<td class="text-right">
				<span class="h6">91,271 lbs</span>
			</td>
		</tr>
			</tbody>
	</table>
</div>

<div class="stm-tech-infos">
	<div class="stm-tech-title">
					<i class="stm-boats-icon-performance" style="font-size:27px;"></i>
							<div class="title h5">Performance</div>
			</div>

	<table>
		<tbody>
			
			<tr>
			<td>
				<span class="text-transform ">Cruising Speed</span>
			</td>
			<td class="text-right">
				<span class="h6">24 knots</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Maximum Speed</span>
			</td>
			<td class="text-right">
				<span class="h6">28 knots</span>
			</td>
		</tr>
			</tbody>
	</table>
</div>

<div class="stm-tech-infos">
	<div class="stm-tech-title">
					<i class="stm-boats-icon-tank" style="font-size:27px;"></i>
							<div class="title h5">Tanks</div>
			</div>

	<table>
		<tbody>
			
			<tr>
			<td>
				<span class="text-transform ">Fresh water tanks</span>
			</td>
			<td class="text-right">
				<span class="h6">2 (222 Gallons)</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Fuel tanks</span>
			</td>
			<td class="text-right">
				<span class="h6">2 (1,1168 Gallons)</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Holding tanks</span>
			</td>
			<td class="text-right">
				<span class="h6">(79 Gallons)</span>
			</td>
		</tr>
			</tbody>
	</table>
</div>










</div></div></div></div>

</div>



