
	<div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#1468238791521-8e8c0611-a354" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Especificacoes</span></a></h4></div>


<div class="vc_tta-panel-body"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">


<div class="stm-tech-infos">
	<div class="stm-tech-title">
					<i class="stm-boats-icon-fan" style="font-size:27px;"></i>
							<div class="title h5">Motor</div>
			</div>

	<table>
		<tbody>
			
	<tr>
		<td>
			<span class="text-transform subtitle">Motor</span>
		</td>
		<td class="text-right">&nbsp;</td>
	</tr>

			<tr>
			<td>
				<span class="text-transform ">Marca</span>
			</td>
			<td class="text-right">
				<span class="h6">Modelo</span>
			</td>
		</tr>
	
	
	
		
			</tbody>
	</table>
</div>

</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="stm-tech-infos">
	<div class="stm-tech-title">
					<i class="stm-boats-icon-dimensions" style="font-size:27px;"></i>
							<div class="title h5">Dimensoes</div>
			</div>

	<table>
		<tbody>
			
			<tr>
			<td>
				<span class="text-transform ">Comprimento</span>
			</td>
			<td class="text-right">
				<span class="h6">16'6''</span>
			</td>
		</tr>
	
			
			</tbody>
	</table>
</div>

<div class="stm-tech-infos">
	<div class="stm-tech-title">
					<i class="stm-boats-icon-performance" style="font-size:27px;"></i>
							<div class="title h5">Performance</div>
			</div>

	<table>
		<tbody>
			
			<tr>
			<td>
				<span class="text-transform ">Velocidade de cruzeiro</span>
			</td>
			<td class="text-right">
				<span class="h6">24 nos</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Velocidade Maxima</span>
			</td>
			<td class="text-right">
				<span class="h6">28 nos</span>
			</td>
		</tr>
			</tbody>
	</table>
</div>

<div class="stm-tech-infos">
	<div class="stm-tech-title">
					<i class="stm-boats-icon-tank" style="font-size:27px;"></i>
							<div class="title h5">Tanques</div>
			</div>

	<table>
		<tbody>
			
			<tr>
			<td>
				<span class="text-transform ">Agua</span>
			</td>
			<td class="text-right">
				<span class="h6">2 galoes</span>
			</td>
		</tr>
	
			<tr>
			<td>
				<span class="text-transform ">Combustivel</span>
			</td>
			<td class="text-right">
				<span class="h6">2 galoes</span>
			</td>
		</tr>
	
		
			</tbody>
	</table>
</div>










</div></div></div></div>

</div>



