

<div class="page-header page-caption">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="page-title">News</h1>
                </div>
            </div>
        </div>
    </div>



    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb30">
                                    <div class="post-image">
                                        <a href="blog-single.html" class="imghover"><img src="images/blog-post-1.jpg" class="img-responsive" alt=""></a>
                                    </div>
                                    <div class="post-content pinside30 outline">
                                        <h1 class="mb20 heading-line"><a href="blog-single.html" class="title">Ask Your Wedding Stylist for These Fall Hair Trends</a></h1>
                                        <div class="meta"> <span class="meta-date">24 December, 2017</span> <span class="meta-comment">- (10) <a href="#">comments</a></span> <span class="meta-author">- by <a href="#">admin</a></span> </div>
                                        <p class="mb30">Lorem ipsum dolor sitameconsectetur adipiscing uspendisse volutpatauris sitamet sagitti stilum nunc justlacinia vitae eroin lorem erosmaximus eornare eroin lorem eros egestas sed nulla aintrdum consectetur seroin magna diam aliquam non leo egete. </p>
                                        <a href="blog-single.html" class="btn-link">read more</a> </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb30">
                                    <div class="post-image">
                                        <a href="blog-single.html" class="imghover"><img src="images/blog-post-2.jpg" class="img-responsive" alt=""></a>
                                    </div>
                                    <div class="post-content pinside30 outline">
                                        <h1 class="mb20 heading-line"><a href="blog-single.html" class="title">The Easiest Way to Remove Long Wearing Matte Liquid Lipstick</a></h1>
                                        <div class="meta"> <span class="meta-date">23 December, 2017</span> <span class="meta-comment">- (10) <a href="#">comments</a></span> <span class="meta-author">- by <a href="#">admin</a></span> </div>
                                        <p class="mb30">Duis tincidunt rhoncus leo non var liquam ut semper puestibulum vulputate scelerisque lorem sed scelerisque lacus fringilla raesent commodo eget loremat molroin convallis nequeut lorem elementum place urisuis quam euis condimentum massa mauris vehicula.</p>
                                        <a href="blog-single.html" class="btn-link">read more</a> </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb30">
                                    <div class="post-block   outline post-gallery owl-carousel owl-theme" style="opacity: 1; display: block;">
                                        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4488px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item active" style="width: 748px;"><div class="post-image">
                                            <a href="blog-single.html" class="imghover"><img src="images/blog-post-1.jpg" class="img-responsive" alt=""></a>
                                        </div></div><div class="owl-item" style="width: 748px;"><div class="post-image">
                                            <a href="blog-single.html" class="imghover"><img src="images/blog-post-2.jpg" class="img-responsive" alt=""></a>
                                        </div></div><div class="owl-item" style="width: 748px;"><div class="post-image">
                                            <a href="blog-single.html" class="imghover"><img src="images/blog-post-3.jpg" class="img-responsive" alt=""></a>
                                        </div></div></div></div>
                                        
                                        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
                                        <div class="post-content pinside30 outline">
                                            <h1 class="mb20 heading-line"><a href="blog-single.html" class="title">Secrets to Get Your Blush to Look as Natural as Possible</a></h1>
                                            <div class="meta"> <span class="meta-date">22 December, 2017</span> <span class="meta-comment">- (10) <a href="#">comments</a></span> <span class="meta-author">- by <a href="#">admin</a></span> </div>
                                            <p class="mb30">Mauris vel pretium nequauris tristique convallis lorem necnulla congue feugiat sapien consecte eamibendum ligula venenatis dictumd hendrerit augue eget placerat tempoenean at dolor at mauris ncidunt tincidunt quis tincidunt nibhed eumetus mauris.</p>
                                            <a href="blog-single.html" class="btn-link">read more</a> </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb30">
                                    <div class="post-image">
                                        <a href="blog-single.html" class="imghover"><img src="images/blog-post-4.jpg" class="img-responsive" alt=""></a>
                                    </div>
                                    <div class="post-content pinside30 outline">
                                        <h1 class="mb20 heading-line"><a href="blog-single.html" class="title">Warm Your Lash Curler</a></h1>
                                        <div class="meta"> <span class="meta-date">21 December, 2017</span> <span class="meta-comment">- (10) <a href="#">comments</a></span> <span class="meta-author">- by <a href="#">admin</a></span> </div>
                                        <p class="mb30">Praesent fringilla mauris sit amet justo ullamcorper porttitulla eu elementum tum sociis natoque penatibuset magnisdis parturient montes nascetur ridiculus muroin maximus liberoac commodo sapien suscipit nourabitur eget ligula iduam ncidunt accumsan in egete.</p>
                                        <a href="blog-single.html" class="btn-link">read more</a> </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb30">
                                    <div class="post-content pinside30 outline">
                                        <h1 class="mb20 heading-line"><a href="blog-single.html" class="title">Shape &amp; Shadows Eye Contouring Palette</a></h1>
                                        <div class="meta"> <span class="meta-date">20 December, 2017</span> <span class="meta-comment">- (10) <a href="#">comments</a></span> <span class="meta-author">- by <a href="#">admin</a></span> </div>
                                        <p class="mb30">Aliquam efficitur feugiat lectus in molestiras sed fermentum duinec vestibulumauris etdui one ultricies placerat tellugestas anteonec ut sem in eros dignissim conguenean hendrerit lorem fermentum dui vitae couam egestas orci id nibh viverra maximus.</p>
                                        <a href="blog-single.html" class="btn-link">read more</a> </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb30 bg-default pinside30 text-white text-center">
                                    <div class="quote-block"><span class="quote-left">“</span>
                                        <h1 class="text-white"><strong>BEAUTY</strong><br>
                  Begins the Moment You<br>
                  Decide to Be<br>
                  <strong>YOURSELF</strong></h1>
                                        <span class="text-white small">- MERRY SINTHEN</span> <span class="quote-right">”</span></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="st-pagination">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            <li>
                                                <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous</span> </a>
                                            </li>
                                            <li><a href="#" class="active">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li>
                                                <a href="#" aria-label="Next"> <span aria-hidden="true">Next</span> </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget-search custom-search-input">
                                    <div class="input-group  ">
                                        <input type="text" class="search-query form-control" placeholder="Search">
                                        <span class="input-group-btn">
                <button class="btn btn-danger" type="button"> <i class="fa fa-search"></i> </button>
                </span> </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget widget-categories">
                                    <h3 class="widget-title">Categories</h3>
                                    <ul class="listnone pinside40 outline">
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Hair Style</a></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Makeup</a></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Facial</a></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Waxing</a></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Body Massage</a></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Nail polish</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget widget-recent-post">
                                    <h3 class="widget-title">Recent Post</h3>
                                    <div class="listnone pinside40 outline">
                                        <div class="recent-block">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-2 col-xs-3">
                                                    <div class="recent-img">
                                                        <a href="#" class="imghover"><img src="images/recent-post-1.jpg" class="img-responsive" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-9">
                                                    <h3 class="recent-title"><a href="#" class="title">The Easiest Way to Remove Long Wearing Matte Liquid Lipstick</a></h3>
                                                    <div class="meta"><span class="meta-date">24 December,2017</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="recent-block">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-2 col-xs-3">
                                                    <div class="recent-img">
                                                        <a href="#" class="imghover"><img src="images/recent-post-2.jpg" class="img-responsive" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-9">
                                                    <h3 class="recent-title"><a href="#" class="title">Secrets to Get Your Blush to Look as Natural as Possible</a></h3>
                                                    <div class="meta"><span class="meta-date">23 December,2017</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="recent-block">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-2 col-xs-3">
                                                    <div class="recent-img">
                                                        <a href="#" class="imghover"><img src="images/recent-post-3.jpg" class="img-responsive" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-9">
                                                    <h3 class="recent-title"><a href="#" class="title">Ask Your Wedding Stylist for These Fall Hair Trends</a></h3>
                                                    <div class="meta"><span class="meta-date">22 December,2017</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget widget-archives">
                                    <h3 class="widget-title">archives</h3>
                                    <ul class="listnone pinside40 outline">
                                        <li><i class="fa fa-caret-right"></i> <a href="#">March</a> <strong>(2016)</strong></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">February</a> <strong>(2016)</strong></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">January</a> <strong>(2016)</strong></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">December</a> <strong>(2015)</strong></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">November</a> <strong>(2015)</strong></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget widget-tags outline">
                                    <h3 class="widget-title">Tags</h3>
                                    <div class="pinside40"> <a href="#">Hair Style</a> <a href="#">Makeup</a> <a href="#">facial</a> <a href="#">Waxing</a> <a href="#">Body Massage</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>