<div class="container-fluid justify-content-center mb-3">
        <h1 id="contato" class="h1-responsive font-weight-bold text-center my-4">Quem Somos</h1>
        <div class="max-w-md text-justify">
            <p>O <b>MEGAMANIA CAP</b> é um Título de Capitalizaçã
            o de Pagamento Único, da Modalidade Filantropia Premiável, com atuação no Paraná, 
            aprovados pela SUSEP e emitidos pela KOVR Capitalização S.A. (CNPJ nº 93.202.448/0001-79). Além 
            de proporcionar o direito de participação em sorteios ao subscritor, com o <b>MEGAMANIA CAP</b> você 
            pode contribuir para o desenvolvimento e custeio da <b>ASSOCIAÇÃO DOS AMIGOS DO HOSPITAL DE CLÍNICAS</b>, 
            através da cessão do direito de resgate do seu Título, gerando recursos que serão investidos 
            na prestação de serviços de assistência à saúde com a finalidade de prestar 
            assistência médica e hospitalar nas diversas atividades da instituição. Conheça mais 
            sobre o trabalho e os projetos da <b>ASSOCIAÇÃO DOS AMIGOS DO HOSPITAL DE CLÍNICAS</b> no site:
            <a href="http://www.amigosdohc.org.br/" target="_blank">www.amigosdohc.org.br</a> . <br>
            </p><p>Adquira seu <b>MEGAMANIA CAP</b> , colabore com estes projetos, e ainda concorra a muitos prêmios.</p>
        </div>
    </div>