
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey vc_custom_1468325452382  vc_custom_1468325452382">

</div>

<div class="vc_row wpb_row vc_row-fluid vc_custom_1467713319173">
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="stm-boats-video-iframe">
                    <a href="#" data-url="https://www.youtube.com/embed/P2_vqc6mGN4" class="stm-boats-video-poster" style="background-image: url('https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/09/video-poster-539x343.jpg')"></a>
                </div>
                <style></style>
                <script></script>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <h3 style="font-size: 30px;text-align: left" class="vc_custom_heading boat-third-color vc_custom_1467722159331">BOAT SALES, SERVICE &amp; RENTALS</h3>
                <div class="colored-separator vc_custom_1467717369643 text-left style_1">
                    <div><i class="stm-boats-icon-wave stm-base-color"></i></div>
                </div>
                <h5 style="font-size: 16px;line-height: 26px;text-align: left" class="vc_custom_heading vc_custom_1467717817042">Motors is your #1 West Coast Boat Dealer for Grady-White, Nautiques by Correct Craft, Malibu, Defiance Boats and Yamaha Marine Outboards.</h5>
                <div class="wpb_text_column wpb_content_element  vc_custom_1467717955540">
                    <div class="wpb_wrapper">
                        <p><span style="color: #808080; line-height: 26px;">Motors has specialized in high quality American &amp; European built boats &amp; yachts for more than 18 years. Prestige Luxury Motor Yachts has appointed Motors it’s Exclusive Dealership for the Western United States. Marquis Yachts listed on the West Coast than any other broker.</span></p>
                    </div>
                </div>
                <div class="text-left"> <a class="stm-button  external" style="background-color:; color:#fff!important;" href="https://motors.stylemixthemes.com/boats/about-us/" title="About Us" rel="nofollow">About Us</a> </div>
            </div>
        </div>
    </div>
</div>