<div class="vc_row-full-width"></div>
<div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-parallax="1.5" data-vc-parallax-image="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_99648881_Subscription_Monthly_M-1687x1124.jpg" class="vc_row wpb_row vc_row-fluid vc_custom_1468815870688 vc_general vc_parallax stm-fixed-bg vc_parallax-content-moving" style="position: relative; left: -80.5px; box-sizing: border-box; width: 1301px; padding-left: 80.5px; padding-right: 80.5px;">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper"></div>
        </div>
    </div>
    <div class="vc_parallax-inner skrollable skrollable-between" data-bottom-top="top: -50%;" data-top-bottom="top: 0%;" style="height: 150%; background-image: url(&quot;https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_99648881_Subscription_Monthly_M-1687x1124.jpg&quot;); top: -35.5479%;"></div>
</div>
<div class="vc_row wpb_row vc_row-fluid vc_custom_1447829274492">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="stm-contact-us-form-wrapper ">
                    <h2>Contato</h2>
                    <div role="form" class="wpcf7" id="wpcf7-f717-p712-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response">
                            <p role="status" aria-live="polite" aria-atomic="true" class="stm-hidden"></p>
                            <ul></ul>
                        </div>
                        <form action="/boats/contact-us/#wpcf7-f717-p712-o1" method="post" class="wpcf7-form resetting" novalidate="novalidate" data-status="resetting">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="717">
                                <input type="hidden" name="_wpcf7_version" value="5.4">
                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f717-p712-o1">
                                <input type="hidden" name="_wpcf7_container_post" value="712">
                                <input type="hidden" name="_wpcf7_posted_data_hash" value=""> </div>
                            <div class="row">
                                <div class="col-md-7 col-sm-7">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <div class="contact-us-label">Nome*</div>
                                                <p> <span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Nome"></span> </p>
                                            </div>
                                        </div>
                                 
                                    </div>
                                    <div class="row">
                                    
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <div class="contact-us-label">Telefone</div>
                                                <p> <span class="wpcf7-form-control-wrap phone"><input type="tel" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Numero"></span> </p>
                                            </div>
                                        </div>
                                    </div>
                              
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="contact-us-label">Assunto</div>
                                        <p> <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Mensagem..."></textarea></span> </p>
                                    </div>
                                </div>
                                <div class="contact-us-submit">
                                    <input type="submit" value="Enviar" class="wpcf7-form-control wpcf7-submit contact-us-submit" aria-invalid="false"><span class="ajax-loader"></span> </div>
                            </div>
                    </div>
                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="vc_row wpb_row vc_row-fluid vc_custom_1452251533394">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-12">
        <div class="vc_column-inner vc_custom_1448867253895">
            <div class="wpb_wrapper">
                <div class="wpb_tabs wpb_content_element" data-interval="0">
                    <div class="wpb_wrapper wpb_tour_tabs_wrapper ui-tabs stm_tabs_style_2 vc_clearfix ui-corner-all ui-widget ui-widget-content">
               
                        <div id="tab-309debce-b3e3-6" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix ui-corner-bottom ui-widget-content" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="false" style="display: block;">
                            <div class="icon-box vc_custom_1468815765767 icon_box_939 stm-layout-box-car_dealer  " style="color:#232628">
                                <div class="boat-line"></div>
                                <div class="icon vc_custom_1468815765766 boat-third-color" style="font-size:31px;"> <i class="stm-icon-pin"></i> </div>
                                <div class="icon-text">
                                    <h4 class="title heading-font" style="color:#232628">
           Endereço       </h4>
                                    <div class="content" style="line-height:18px;">
                                        <p><span style="color: #888888; font-size: 14px;">Rua Dr Derly Elena, 52, sala 9, Patitiba, Paraty-RJ</span></p>
                                    </div>
                                </div>
                            </div>
                            <style></style>
                            <div class="icon-box vc_custom_1468815773582 icon_box_97845 stm-layout-box-car_dealer  " style="color:#232628">
                                <div class="boat-line"></div>
                                <div class="icon vc_custom_1468815773580 boat-third-color" style="font-size:31px;"> <i class="stm-icon-phone"></i> </div>
                                <div class="icon-text">
                                    <h4 class="title heading-font" style="color:#232628">
            Telefone        </h4>
                                    <div class="content" style="line-height:18px;">
                                        <p><span style="color: #888888; font-size: 14px;">(24) 99222-3232</span></p>
                                    </div>
                                </div>
                            </div>
                            <style></style>
                            <div class="icon-box vc_custom_1468815779570 icon_box_33478 stm-layout-box-car_dealer  " style="color:#232628">
                                <div class="boat-line"></div>
                                <div class="icon vc_custom_1468815779569 boat-third-color" style="font-size:31px;"> <i class="stm-icon-time"></i> </div>
                                <div class="icon-text">
                                    <h4 class="title heading-font" style="color:#232628">
            Horario       </h4>
                                    <div class="content" style="line-height:18px;">
                                        <p><span style="color: #888888; font-size: 14px;">


<ul><li>Seg – Sex: 09:00 – 21:00 </li>
                                   <li> Sabado: 09:00 – 19:00 </li>
                                <li>Domingo: Fechado</li></ul>

</p>
                                    </div>
                                </div>
                            </div>
                            <style></style>
                        </div>
                        <div id="tab-309debce-b3e3-6" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix">
                            <div class="icon-box vc_custom_1447842696775 icon_box_65044 stm-layout-box-car_dealer  " style="color:#232628">
                                <div class="boat-line"></div>
                                <div class="icon vc_custom_1447842696774 boat-third-color" style="font-size:31px;color:#cc6119; "> <i class="stm-icon-pin"></i> </div>
                                <div class="icon-text">
                                    <h4 class="title heading-font" style="color:#232628">
            Address        </h4>
                                    <div class="content" style="line-height:18px;">
                                        <p><span style="color: #888888; font-size: 14px;">1840 E Garvey Ave South West Covina, CA 91791</span></p>
                                    </div>
                                </div>
                            </div>
                            <style></style>
                            <div class="icon-box vc_custom_1447842703995 icon_box_39518 stm-layout-box-car_dealer  " style="color:#232628">
                                <div class="boat-line"></div>
                                <div class="icon vc_custom_1447842703990 boat-third-color" style="font-size:31px;color:#cc6119; "> <i class="stm-icon-phone"></i> </div>
                                <div class="icon-text">
                                    <h4 class="title heading-font" style="color:#232628">
            Sales Phone        </h4>
                                    <div class="content" style="line-height:18px;">
                                        <p><span style="color: #888888; font-size: 14px;">(888) 354-1781</span></p>
                                    </div>
                                </div>
                            </div>
                            <style></style>
                            <div class="icon-box vc_custom_1447840092359 icon_box_72470 stm-layout-box-car_dealer  " style="color:#232628">
                                <div class="boat-line"></div>
                                <div class="icon vc_custom_1447840092356 boat-third-color" style="font-size:31px;color:#cc6119; "> <i class="stm-icon-time"></i> </div>
                                <div class="icon-text">
                                    <h4 class="title heading-font" style="color:#232628">
            Sales Hours        </h4>
                                    <div class="content" style="line-height:18px;">
                                        <p><span style="color: #888888; font-size: 14px;">Mon – Fri: 09:00AM – 09:00PM<br>
Saturday: 09:00AM – 07:00PM<br>
Sunday: Closed</span></p>
                                    </div>
                                </div>
                            </div>
                            <style></style>
                        </div>
                        <div id="tab-309debce-b3e3-6" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix">
                            <div class="icon-box vc_custom_1447842696775 icon_box_66494 stm-layout-box-car_dealer  " style="color:#232628">
                                <div class="boat-line"></div>
                                <div class="icon vc_custom_1447842696774 boat-third-color" style="font-size:31px;color:#cc6119; "> <i class="stm-icon-pin"></i> </div>
                                <div class="icon-text">
                                    <h4 class="title heading-font" style="color:#232628">
            Address        </h4>
                                    <div class="content" style="line-height:18px;">
                                        <p><span style="color: #888888; font-size: 14px;">1840 E Garvey Ave South West Covina, CA 91791</span></p>
                                    </div>
                                </div>
                            </div>
                            <style></style>
                            <div class="icon-box vc_custom_1447842703995 icon_box_7827 stm-layout-box-car_dealer  " style="color:#232628">
                                <div class="boat-line"></div>
                                <div class="icon vc_custom_1447842703990 boat-third-color" style="font-size:31px;color:#cc6119; "> <i class="stm-icon-phone"></i> </div>
                                <div class="icon-text">
                                    <h4 class="title heading-font" style="color:#232628">
            Sales Phone        </h4>
                                    <div class="content" style="line-height:18px;">
                                        <p><span style="color: #888888; font-size: 14px;">(888) 354-1781</span></p>
                                    </div>
                                </div>
                            </div>
                            <style></style>
                            <div class="icon-box vc_custom_1447840092359 icon_box_90216 stm-layout-box-car_dealer  " style="color:#232628">
                                <div class="boat-line"></div>
                                <div class="icon vc_custom_1447840092356 boat-third-color" style="font-size:31px;color:#cc6119; "> <i class="stm-icon-time"></i> </div>
                                <div class="icon-text">
                                    <h4 class="title heading-font" style="color:#232628">
            Sales Hours        </h4>
                                    <div class="content" style="line-height:18px;">
                                        <p><span style="color: #888888; font-size: 14px;">Mon – Fri: 09:00AM – 09:00PM<br>
Saturday: 09:00AM – 07:00PM<br>
Sunday: Closed</span></p>
                                    </div>
                                </div>
                            </div>
                            <style></style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8 vc_col-md-12">
        <div class="vc_column-inner vc_custom_1448867270861">
            <div class="wpb_wrapper">
      <iframe src="https://maps.google.com/maps?q=Rua%20Dr%20Derly%20Elena,%2052&t=&z=19&ie=UTF8&iwloc=&output=embed&z=18" width="100%" height="520" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>






                <script></script>
                <!--Infowindow styles-->
                <style></style>
            </div>
        </div>
    </div>
</div>