
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey vc_custom_1468325452382  vc_custom_1468325452382">

</div>

<footer id="footer">
    <div id="footer-main">
        <div class="footer_widgets_wrapper less_4">
            <div class="container">
                <div class="widgets cols_4 clearfix">
                    <aside id="stm_text-2" class="widget stm_wp_widget_text">
                        <div class="widget-wrapper">
                            <div class="textwidget">
                                <a href="/"><img class="stm-boats-footer-logo" src="../images/motor-logo.svg"></a>
                                <p>Motors offers the best in fishing and leisure with our new lines of Sailfish and SouthWind boats. Give us a call to schedule a sea trial of any of our boats in stock such.</p>
                            </div>
                        </div>
                    </aside>
                    <aside id="contacts-2" class="widget widget_contacts">
                        <div class="widget-wrapper">
                            <div class="widget-title">
                                <h6>Contact</h6></div>
                            <ul class="stm-list-duty heading-font">
                                <li class="widget_contacts_address">
                                    <div class="icon"><i class="stm-icon-pin"></i></div>
                                    <div class="text">1840 E Garvey Ave South West Covina, CA 91791</div>
                                </li>
                                <li class="widget_contacts_phone">
                                    <div class="icon"><i class="stm-service-icon-sales_phone"></i></div>
                                    <div class="text">(888) 354-1781</div>
                                </li>
                                <li class="widget_contacts_hours">
                                    <div class="icon"><i class="stm-service-icon-sales_hours"></i></div>
                                    <div class="text">Mon – Fri: 09:00AM – 09:00PM Saturday: 09:00AM – 07:00PM Sunday: Closed</div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-copyright" style="background-color:#232628">
        <div class="container footer-copyright">
            <div class="row">
                <div class="col-md-12">
                    <div class="clearfix">
                        <div class="copyright-text text-center"> Copyright © 2021. <a target="_blank" href="https://stylemixthemes.com/motors/">Motors</a> – WordPress Theme by <a target="_blank" href="https://stylemixthemes.com/">StylemixThemes</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="global-alerts"></div>
    <!-- Searchform -->
    <div class="modal" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body heading_font">
                    <div class="search-title">Search</div>
                    <form method="get" id="searchform" action="https://motors.stylemixthemes.com/boats/">
                        <div class="search-wrapper">
                            <input placeholder="Start typing here..." type="text" class="form-control search-input" value="" name="s" id="s">
                            <button type="submit" class="search-submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>