<!-- start footer section -->

<footer id="footer" class="page-footer font-small ">
 
<div class="container">
        <hr class="rgba-white-light" style="margin: 0 15%;">
       
        <hr class="rgba-white-light" style="margin: 0 15%;">
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4 text-mms-secondary">
            <div class="col-md-12 col-12 mt-5">
                <p><b>Invest Capitalização S.A.</b><br>
                    CNPJ Nº 93.202.448/0001-79<br>
                    www.grupoinvestseguros.com.br<br>
                    <b>SAC:</b> 0800-646-8378<br>
                    (Informações, solicitações e reclamações)<br>
                    <b>OUVIDORIA:</b> 0800-606-2320
                </p>
                <p>"Sorteios decorrentes de Títulos de Capitalização de Pagamento Único, da Modalidade Filantropia
                    Premiável, emitidos pela <b>INVEST Capitalização S/A.</b>, inscrita no CNPJ sob nº
                    93.202.448/0001-79 e aprovados pela SUSEP. Você pode ajudar a <b>Associação dos Amigos do Hospital
                        das Clínicas</b>, comprando o <b>MEGAMANIA CAP</b> e cedendo o direito de resgate. A aprovação
                    deste Título pela SUSEP não implica, por parte da Autarquia, em incentivo ou recomendação a sua
                    aquisição, representando exclusivamente, sua adequação às normas em vigor. Antes de contratar,
                    consulte previamente as Condições Gerais."</p>
                <p>"PROIBIDA A VENDA PARA MENORES DE 16 ANOS"</p>
                <p>"Você pode ajudar a <b>ASSOCIAÇÃO DOS AMIGOS DO HOSPITAL DAS CLÍNICAS</b>, comprando o <b>MEGAMANIA
                        CAP</b> e cedendo o direito de resgate."</p>
            </div>
        </div>
        <hr class="clearfix rgba-white-light" style="margin: 4% 15%;">
        <div class="row text-center pb-3 text-mms">
            <div class="col-md-12">
                <div class="mb-5 flex-center">
                    <a class="gplus-ic text-mms" href="https://www.youtube.com/channel/UCjXWJUSs4FjyE_WOIWD0CFw" target="_blank">
                        <i class="fab fa-youtube fa-lg white-text mr-4" aria-hidden="true"> </i>
                    </a>
                    <a class="ins-ic text-mms" href="https://www.instagram.com/megamaniadasorte/?hl=pt-br" target="_blank">
                        <i class="fab fa-instagram fa-lg white-text mr-4" aria-hidden="true"> </i>
                    </a>
                    <a class="fb-ic text-mms" href="https://www.facebook.com/megamaniacuritiba/" target="_blank">
                        <i class="fab fa-facebook-f fa-lg white-text mr-3" aria-hidden="true"> </i>
                    </a>
                    <a class="ins-ic text-mms" href="/">
                        <i class="fa-lg white-text mr-3"> <img src="../images/line-orange.svg" alt="linha"> </i>
                    </a>
                    <a class="ins-ic text-mms" href="https://play.google.com/store/apps/details?id=com.ideamaker.megamania&amp;hl=pt_BR&amp;gl=US" target="_blank">
                        <i class="fab fa-google-play fa-lg white-text mr-4" aria-hidden="true"></i>
                    </a>
                    <a class="ins-ic text-mms" href="https://apps.apple.com/br/app/megamania-cap/id1495047316" target="_blank">
                        <i class="fab fa-app-store-ios fa-lg white-text mr-4" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


 

 
<a href="https://api.whatsapp.com/send?phone=5521988690661" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
</footer>
<!-- end footer section -->
