
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey vc_custom_1468325452382  vc_custom_1468325452382">

</div>

<footer id="footer">
    <div id="footer-main">
        <div class="footer_widgets_wrapper less_4">
            <div class="container">
                <div class="widgets cols_4 clearfix">
                    <aside id="stm_text-2" class="widget stm_wp_widget_text">
                        <div class="widget-wrapper">
                            <div class="textwidget">
                                <a href="/"><img class="stm-boats-footer-logo" src="../images/motor-logo.svg"></a>
                                <p>xxxxxx</p>
                            </div>
                        </div>
                    </aside>
                    <aside id="contacts-2" class="widget widget_contacts">
                        <div class="widget-wrapper">
                            <div class="widget-title">
                                <h6>Contato</h6></div>
                            <ul class="stm-list-duty heading-font">
                                <li class="widget_contacts_address">
                                    <div class="icon"><i class="stm-icon-pin"></i></div>
                                    <div class="text">Rua Dr Derly Elena, 52, sala 9 - Patitiba, Paraty-RJ</div>
                                </li>
                                <li class="widget_contacts_phone">
                                    <div class="icon"><i class="stm-service-icon-sales_phone"></i></div>
                                    <div class="text">(24) 99222-3232</div>
                                </li>
                                <li class="widget_contacts_hours">
                                    <div class="icon"><i class="stm-service-icon-sales_hours"></i></div>
                                    <div class="text"><ul><li>Seg – Sex: 09:00 – 21:00 </li>
                                   <li> Sabado: 09:00 – 19:00 </li>
                                <li>Domingo: Fechado</li></ul></div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-copyright" style="background-color:#232628">
        <div class="container footer-copyright">
            <div class="row">
                <div class="col-md-12">
                    <div class="clearfix">
                        <div class="copyright-text text-center"><a target="_blank" href="https://www.netjapa.com">NETJAPA</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="global-alerts"></div>
    <!-- Searchform -->
    <div class="modal" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body heading_font">
                    <div class="search-title">Search</div>
                    <form method="get" id="searchform" action="https://motors.stylemixthemes.com/boats/">
                        <div class="search-wrapper">
                            <input placeholder="Start typing here..." type="text" class="form-control search-input" value="" name="s" id="s">
                            <button type="submit" class="search-submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>