<div id="stm-boats-header" class="">
    <div id="top-bar">
        <div class="container">
            <div class="clearfix top-bar-wrapper">
                <!--LANGS-->
                <div class="pull-left"> </div>
                <div class="stm-boats-top-bar-right clearfix">
                    <!-- Header Top bar Login -->
                    <div class="stm-boats-top-bar-centered clearfix">
                        <ul class="top-bar-info clearfix">
                            <li> <span id="top-bar-address" class="fancy-iframe" data-iframe="true" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.966774197695!2d-117.90786518429304!3d34.07036598060092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c32834c7687f27%3A0x7d9def76a503eaf5!2s1840+E+Garvey+Ave+S%2C+West+Covina%2C+CA+91791!5e0!3m2!1sru!2s!4v1524205028317">
                                            <i class=" fa fa-map-marker" style=""></i> Rua Dr Derly Elena, 52, sala 9
Patitiba, Paraty-RJ                                  </span> </li>
                            <li><i class=" fas fa-phone" style=""></i> (24) 99222-3232</li>
                        </ul>
                        <!-- Header top bar Socials -->
                        <div class="header-top-bar-socs">
                            <ul class="clearfix">
                                <li>
                                    <a href="#" target="_blank"> <i class="fab fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"> <i class="fab fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"> <i class="fab fa-instagram"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"> <i class="fab fa-google-plus"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"> <i class="fab fa-youtube-play"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header" style="">
        <div class="header-listing header-listing-boats header-listing-fixed listing-nontransparent-header stm-fixed-invisible-mobile">
            <div class="container header-inner-content">
                <!--Logo-->
                <div class="listing-logo-main" style="margin-top: 6px; ">
                    <a class="bloglogo external" href="/" rel="nofollow"> <img src="../images/motor-logo.svg" style="width: 160px;" title="Home" alt="Logo"> </a>
                </div>
                <div class="listing-service-right clearfix" style="">
                    <ul class="listing-menu boats-menu-desktop clearfix" style="">
                        <li id="menu-item-202" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-202"><a href="/">Home</a></li>
                        <li id="menu-item-1310" class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-639 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1310"><a href="/boats" aria-current="page" class="external" rel="nofollow">Embarcações</a>
                            <ul class="sub-menu">
                                <li id="menu-item-2019" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-639 current_page_item menu-item-2019"><a href="/boats/rent" class="external" rel="nofollow">Embarcações Alugar</a></li>

                                <li id="menu-item-2018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2018"><a href="/boats/sell">Embarcações Comprar</a></li>
                                
                              
                            </ul>
                        </li>
                        <li id="menu-item-1310" class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-639 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1310"><a href="/houses" class="external" rel="nofollow">Imóveis</a>
                            <ul class="sub-menu">
                                <li id="menu-item-2019" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-639 current_page_item menu-item-2019"><a href="/houses/rent" aria-current="page" class="external" rel="nofollow">Casas Alugar</a></li>
                                <li id="menu-item-2018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2018"><a href="/houses/sell">Casas Comprar</a></li>
                          
                            </ul>
                        </li>
                        <li id="menu-item-1878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1878"><a href="/terrenos" class="external" rel="nofollow">Terrenos</a></li>
                        <li id="menu-item-1878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1878"><a href="/survey" class="external" rel="nofollow">Survey</a></li>
                        <li id="menu-item-1878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1878"><a href="/sobre" class="external" rel="nofollow">Sobre</a></li>
                        <li id="menu-item-1878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1878"><a href="/contato" class="external" rel="nofollow">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- id header -->
</div>
<div class="stm-boats-mobile-header">
    <a class="bloglogo external" href="/" rel="nofollow"> <img src="../images/motor-logo.svg" style="width: 160px;" title="Home" alt="Logo"> </a>
    <div class="stm-menu-boats-trigger"> <span></span> <span></span> <span></span> </div>
</div>
<div class="stm-boats-mobile-menu">
    <div class="inner">
        <div class="inner-content">
            <ul class="listing-menu heading-font clearfix">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-202"><a href="/">Home</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1310"><a href="/boats" class="external" rel="nofollow">Embarcações<span class="stm-boats-menu-first-lvl"></span></a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2019"><a href="/boats/rent" class="external" rel="nofollow">Embarcações Alugar</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2018"><a href="/boats/sell">Embarcações Vender</a></li>
               
                    </ul>
                </li>





        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1310"><a href="/houses" class="external" rel="nofollow">Imoveis<span class="stm-boats-menu-first-lvl"></span></a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2019"><a href="/houses/rent" class="external" rel="nofollow">casa Alugar</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2018"><a href="/houses/sell">casa Vender</a></li>
               
                    </ul>
                </li>




         
           
           
         
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <!--Shop archive-->
                    <a href="/survey" title="Watch shop items" class="external" rel="nofollow"> <span>Survey</span> </a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="/contact" title="Watch compared" class="external" rel="nofollow"> <span>Contato</span> </a>
                </li>
            </ul>
            <div id="top-bar-mobile">
                <div class="stm-boats-top-bar-centered clearfix">
              
                    <!-- Header top bar Socials -->
                    <div class="header-top-bar-socs">
                        <ul class="clearfix">
                            <li>
                                <a href="#" target="_blank"> <i class="fab fa-facebook"></i> </a>
                            </li>
                            <li>
                                <a href="#" target="_blank"> <i class="fab fa-twitter"></i> </a>
                            </li>
                            <li>
                                <a href="#" target="_blank"> <i class="fab fa-instagram"></i> </a>
                            </li>
                            <li>
                                <a href="#" target="_blank"> <i class="fab fa-google-plus"></i> </a>
                            </li>
                            <li>
                                <a href="#" target="_blank"> <i class="fab fa-youtube-play"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix top-bar-wrapper">
                    <!--LANGS-->
                </div>
            </div>
        </div>
    </div>
</div>