<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="logo"> <a href="/"><img src="images/logo.svg" alt=""></a> </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="call-block">
              <h3 class="call-no">(21) xxxx</h3>
              <p class="call-text">Alguma ajuda?</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
            <div class="time-block">
              <h3 class="time">Seg a Sab : 10 as 18</h3>
              <p class="call-text">Aberto</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
            <div class="top-btn"> <a href="/contact" class="btn btn-default">Entre em Contato</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- navigation -->

<div class="navigation-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="navigation-sticky-wrapper" class="sticky-wrapper" style="height: 61px;"><div class="navigation" id="navigation" >
                        <ul>
                            <li class="active"><a href="/" title="Home" class="animsition-link">Home</a></li>
                        
                            <li class="has-sub"><span class="submenu-button"></span><a href="/posts" title="Blog" class="animsition-link">Novidades</a>
                                <ul>
                                    <li><a href="/posts" title="Blog" class="animsition-link">Blog</a></li>
                                   
                                </ul>
                            </li>
                        
                            <li><a href="/services" title="Contact Us" class="animsition-link">Servicos</a> </li>
                        
                            <li><a href="/contact" title="Contact Us" class="animsition-link">Contato</a> </li>
                        
                        </ul>
                    </div></div>
                </div>
            </div>
        </div>
    </div>