<header>
<nav class="navbar fixed-top navbar-expand-lg navbar-light gradient-mms peach-gradient">
            <a class="navbar-brand" href="/"><img src="../images/logo.svg" height="90" width="200" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                
                    <li class="nav-item">
                        <a class="nav-link" href="/contato">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/filosofia">Filosofia</a>
                    </li>
                   
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Normas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/regulamento">Regulamento</a>
                            <a class="dropdown-item" href="/condicoes">Condições Gerais</a>
                        </div>
                    </li>
                  <li class="nav-item">
                        <a class="nav-link" href="/premios">Prêmios</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" href="/participar">Como Participar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resultados">Sorteios</a>
                    </li>
                    <div class="mb-5 flex-center media">
                        <a class="gplus-ic socialMedia" href="https://www.youtube.com/channel/UCjXWJUSs4FjyE_WOIWD0CFw" target="_blank">
                            <i class="fab fa-youtube fa-lg white-text mr-4" aria-hidden="true"> </i>
                        </a>
                        <a class="ins-ic socialMedia" href="https://www.instagram.com/megamaniadasorte/?hl=pt-br" target="_blank">
                            <i class="fab fa-instagram fa-lg white-text mr-4" aria-hidden="true"> </i>
                        </a>
                        <a class="fb-ic socialMedia" href="https://www.facebook.com/megamaniacuritiba/" target="_blank">
                            <i class="fab fa-facebook-f fa-lg white-text mr-3" aria-hidden="true"> </i>
                        </a>
                        <a class="ins-ic socialMedia" href="https://play.google.com/store/apps/details?id=com.ideamaker.megamania&amp;hl=pt_BR&amp;gl=US" target="_blank">
                            <i class="fab fa-google-play fa-lg white-text mr-4" aria-hidden="true"></i>
                        </a>
                        <a class="ins-ic socialMedia" href="https://apps.apple.com/br/app/megamania-cap/id1495047316" target="_blank">
                            <i class="fab fa-app-store-ios fa-lg white-text mr-4" aria-hidden="true"></i>
                        </a>
                    </div>
                </ul>
            </div>
            <div class="mb-5 flex-center iconsMedia">
                <a class="gplus-ic socialMedia" href="https://www.youtube.com/channel/UCjXWJUSs4FjyE_WOIWD0CFw" target="_blank">
                    <i class="fab fa-youtube fa-lg white-text mr-3" aria-hidden="true"> </i>
                </a>
                <a class="ins-ic socialMedia" href="https://www.instagram.com/megamaniadasorte/?hl=pt-br" target="_blank">
                    <i class="fab fa-instagram fa-lg white-text mr-3" aria-hidden="true"> </i>
                </a>
                <a class="fb-ic socialMedia" href="https://www.facebook.com/megamaniacuritiba/" target="_blank">
                    <i class="fab fa-facebook-f fa-lg white-text mr-2" aria-hidden="true"> </i>
                </a>
                <a class="ins-ic socialMedia" href="/">
                    <i class="fa-lg white-text mr-2"> <img src="../images/line-white.svg" alt="linha" style="padding-bottom:4px;"> </i>
                </a>
                <a class="ins-ic socialMedia" href="https://play.google.com/store/apps/details?id=com.ideamaker.megamania&amp;hl=pt_BR&amp;gl=US" target="_blank">
                    <i class="fab fa-google-play fa-lg white-text mr-3" aria-hidden="true"></i>
                </a>
                <a class="ins-ic socialMedia" href="https://apps.apple.com/br/app/megamania-cap/id1495047316" target="_blank">
                    <i class="fab fa-app-store-ios fa-lg white-text mr-3" aria-hidden="true"></i>
                </a>
            </div>
        </nav>
        </header>