<div id="stm-boats-header" class="">
    <div id="top-bar">
        <div class="container">
            <div class="clearfix top-bar-wrapper">
                <!--LANGS-->
                <div class="pull-left"> </div>
                <div class="stm-boats-top-bar-right clearfix">
                    <!-- Header Top bar Login -->
                    <div class="stm-boats-top-bar-centered clearfix">
                        <ul class="top-bar-info clearfix">
                            <li> <span id="top-bar-address" class="fancy-iframe" data-iframe="true" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.966774197695!2d-117.90786518429304!3d34.07036598060092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c32834c7687f27%3A0x7d9def76a503eaf5!2s1840+E+Garvey+Ave+S%2C+West+Covina%2C+CA+91791!5e0!3m2!1sru!2s!4v1524205028317">
                                            <i class=" fa fa-map-marker" style=""></i> Rua Dr Derly Elena, 52, sala 9
Patitiba, Paraty-RJ                                  </span> </li>
                            <li><i class=" fas fa-phone" style=""></i> (24) 99222-3232</li>
                        </ul>
                        <!-- Header top bar Socials -->
                        <div class="header-top-bar-socs">
                            <ul class="clearfix">
                                <li>
                                    <a href="#" target="_blank"> <i class="fab fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"> <i class="fab fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"> <i class="fab fa-instagram"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"> <i class="fab fa-google-plus"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"> <i class="fab fa-youtube-play"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header" style="">
        <div class="header-listing header-listing-boats header-listing-fixed listing-nontransparent-header stm-fixed-invisible-mobile">
            <div class="container header-inner-content">
                <!--Logo-->
                <div class="listing-logo-main" style="margin-top: 6px; ">
                    <a class="bloglogo external" href="/" rel="nofollow"> <img src="../images/motor-logo.svg" style="width: 160px;" title="Home" alt="Logo"> </a>
                </div>
                <div class="listing-service-right clearfix" style="">
                    <ul class="listing-menu boats-menu-desktop clearfix" style="">
                        <li id="menu-item-202" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-202"><a href="/">Home</a></li>
                        <li id="menu-item-1310" class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-639 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1310"><a href="/boats" aria-current="page" class="external" rel="nofollow">Embarcações</a>
                            <ul class="sub-menu">
                                <li id="menu-item-2019" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-639 current_page_item menu-item-2019"><a href="/boats/rent" class="external" rel="nofollow">Embarcações Alugar</a></li>

                                <li id="menu-item-2018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2018"><a href="/boats/sell">Embarcações Comprar</a></li>
                                
                                <li id="menu-item-2020" class="menu-item menu-item-type-post_type menu-item-object-listings menu-item-2020"><a href="/boats/new" class="external" rel="nofollow">Adicionar</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1310" class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-639 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1310"><a href="/houses" class="external" rel="nofollow">Imóveis</a>
                            <ul class="sub-menu">
                                <li id="menu-item-2019" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-639 current_page_item menu-item-2019"><a href="/houses/rent" aria-current="page" class="external" rel="nofollow">Casas Alugar</a></li>
                                <li id="menu-item-2018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2018"><a href="/houses/sell">Casas Comprar</a></li>
                                <li id="menu-item-2020" class="menu-item menu-item-type-post_type menu-item-object-listings menu-item-2020"><a href="/houses/new" class="external" rel="nofollow">Adicionar</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1878"><a href="/terrenos" class="external" rel="nofollow">Terrenos</a></li>
                        <li id="menu-item-1878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1878"><a href="/survey" class="external" rel="nofollow">Survey</a></li>
                        <li id="menu-item-1878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1878"><a href="/sobre" class="external" rel="nofollow">Sobre</a></li>
                        <li id="menu-item-1878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1878"><a href="/contato" class="external" rel="nofollow">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- id header -->
</div>
<div class="stm-boats-mobile-header">
    <a class="bloglogo external" href="/" rel="nofollow"> <img src="../images/motor-logo.svg" style="width: 160px;" title="Home" alt="Logo"> </a>
    <div class="stm-menu-boats-trigger"> <span></span> <span></span> <span></span> </div>
</div>
<div class="stm-boats-mobile-menu">
    <div class="inner">
        <div class="inner-content">
            <ul class="listing-menu heading-font clearfix">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-202"><a href="/">Home</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1310"><a href="https://motors.stylemixthemes.com/boats/inventory/" class="external" rel="nofollow">Inventory<span class="stm-boats-menu-first-lvl"></span></a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2019"><a href="https://motors.stylemixthemes.com/boats/inventory/" class="external" rel="nofollow">Inventory List</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2018"><a href="/boats/inventory/?view_type=grid">Inventory Grid</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-listings menu-item-2020"><a href="https://motors.stylemixthemes.com/boats/listings/2015-glastron-gt180br/" class="external" rel="nofollow">Single Boat</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1878"><a href="https://motors.stylemixthemes.com/boats/sell-a-boat/" class="external" rel="nofollow">Sell Your Boat</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2282 stm_megamenu stm_megamenu__boxed"><a href="#">Mega Menu<span class="stm-boats-menu-first-lvl"></span></a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2283">
                            <div class="menu-title heading-font">Special Offers</div>
                            <div class="smt-special-offers">
                                <div class="special-wrap">
                                    <div class="img-wrap"><img src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_61270557_Subscription_Monthly_XXL-120x120.jpg"></div>
                                    <div class="title-price-wrap">
                                        <div class="car-title"><a href="https://motors.stylemixthemes.com/boats/listings/baycraft-po/" class="external" rel="nofollow">BayCraft PO</a></div>
                                        <div class="prices"><span class="normal_price normal_font">$325 000</span></div>
                                    </div>
                                </div>
                                <div class="special-wrap">
                                    <div class="img-wrap"><img src="https://motors.stylemixthemes.com/boats/wp-content/uploads/sites/4/2015/12/Fotolia_38565902_Subscription_Monthly_M-120x120.jpg"></div>
                                    <div class="title-price-wrap">
                                        <div class="car-title"><a href="https://motors.stylemixthemes.com/boats/listings/2015-glastron-gt180br/" class="external" rel="nofollow">2015 Glastron GT180BR</a></div>
                                        <div class="prices"><span class="normal_price normal_font">$61 000</span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2284">
                            <div class="menu-title heading-font">New Boats</div>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2285"><a href="/boats/inventory/?condition=new-cars"><i class="stm_megaicon fa fa-arrow-circle-right"></i>New Boats</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2286"><a href="/boats/inventory/?make=bay-craft"><i class="stm_megaicon fa fa-arrow-circle-right"></i>Bay Craft Boats</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2287"><a href="/boats/inventory/?fuel=premium-petrol"><i class="stm_megaicon fa fa-arrow-circle-right"></i>Hybrid Boats</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2288"><a href="/boats/inventory/?serie=premium"><i class="stm_megaicon fa fa-arrow-circle-right"></i>Premium Boats</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2289">
                            <div class="menu-title heading-font">Quick Search</div>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2290"><a href="/boats/inventory/?serie=premium&amp;condition=used-cars"><i class="stm_megaicon fa fa-arrow-circle-right"></i>Premium Used Boats</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2291"><a href="/boats/inventory/?ca-year=1980-1990"><i class="stm_megaicon fa fa-arrow-circle-right"></i>Older than 2000</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2292"><a href="/boats/inventory/?min_price=60000&amp;max_price=70000"><i class="stm_megaicon fa fa-arrow-circle-right"></i>Cheaper Boats</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2293"><a href="/boats/inventory/?ca-year=2010-2016"><i class="stm_megaicon fa fa-arrow-circle-right"></i>Latest Boats</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2294">
                            <div class="menu-title heading-font">Contacts</div>
                            <ul class="mm-list">
                                <li class="normal_font"><i class="fa fa-envelope"></i>info@stylemixthemes.com</li>
                                <li class="normal_font"><i class="fa fa-phone"></i>+123 456 789</li>
                                <li class="normal_font"><i class="fa fa-map-marker"></i>5348 Vegas Dr, NV, Las Vegas</li>
                                <li class="normal_font"><i class="fa fa-envelope"></i>support@stylemixthemes.com</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1311"><a href="https://motors.stylemixthemes.com/boats/blog/" class="external" rel="nofollow">News<span class="stm-boats-menu-first-lvl"></span></a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-763"><a href="/boats/blog/?&amp;view-type=list&amp;show-title-box=hide&amp;show-breadcrumbs=yes">News – List with Right Sidebar</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-764"><a href="/boats/blog/?sidebar-position=none">News – Grid Full Width</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-762"><a href="#">Single Post Templates</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-703"><a href="https://motors.stylemixthemes.com/boats/teslas-autopilot-system-is-awesome-and-creepy-and-a-sign-of-a-beautiful-future/" class="external" rel="nofollow">Post with Right Sidebar</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-702"><a href="https://motors.stylemixthemes.com/boats/motors-rock/" class="external" rel="nofollow">Post with Left Sidebar</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-701"><a href="https://motors.stylemixthemes.com/boats/motors-rocks/" class="external" rel="nofollow">Post Full Width</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-203"><a href="#">Pages<span class="stm-boats-menu-first-lvl"></span></a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-612"><a href="https://motors.stylemixthemes.com/boats/about-us/" class="external" rel="nofollow">About Us</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-935"><a href="https://motors.stylemixthemes.com/boats/auto-loan-calculator/" class="external" rel="nofollow">Loan Calculator</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-936"><a href="https://motors.stylemixthemes.com/boats/compare/" class="external" rel="nofollow">Boat Comparison</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2073"><a href="https://motors.stylemixthemes.com/boats/shop/" class="external" rel="nofollow">Shop</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-619"><a href="https://motors.stylemixthemes.com/boats/typography/" class="external" rel="nofollow">Typography</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-711"><a href="https://motors.stylemixthemes.com/boats/service/" class="external" rel="nofollow">Services</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-928"><a href="/boats/404-page/">404 page</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-723"><a href="https://motors.stylemixthemes.com/boats/contact-us/" class="external" rel="nofollow">Contacts</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <!--Shop archive-->
                    <a href="https://motors.stylemixthemes.com/boats/cart/" title="Watch shop items" class="external" rel="nofollow"> <span>Cart</span> </a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="https://motors.stylemixthemes.com/boats/compare/" title="Watch compared" class="external" rel="nofollow"> <span>Compare</span> </a>
                </li>
            </ul>
            <div id="top-bar-mobile">
                <div class="stm-boats-top-bar-centered clearfix">
                    <ul class="top-bar-info clearfix">
                        <li><i class=" fa fa-calendar-check-o" style=""></i> Monday – Saturday 8:00am – 6:00pm</li>
                        <li> <span id="top-bar-address" class="fancy-iframe" data-iframe="true" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.966774197695!2d-117.90786518429304!3d34.07036598060092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c32834c7687f27%3A0x7d9def76a503eaf5!2s1840+E+Garvey+Ave+S%2C+West+Covina%2C+CA+91791!5e0!3m2!1sru!2s!4v1524205028317&quot;">
                                <i class=" fa fa-map-marker" style=""></i> 1010 Moon ave, New York, NY US                            </span> </li>
                        <li><i class=" fas fa-phone" style=""></i> +1 212-226-3126</li>
                    </ul>
                    <!-- Header top bar Socials -->
                    <div class="header-top-bar-socs">
                        <ul class="clearfix">
                            <li>
                                <a href="#" target="_blank"> <i class="fab fa-facebook"></i> </a>
                            </li>
                            <li>
                                <a href="#" target="_blank"> <i class="fab fa-twitter"></i> </a>
                            </li>
                            <li>
                                <a href="#" target="_blank"> <i class="fab fa-instagram"></i> </a>
                            </li>
                            <li>
                                <a href="#" target="_blank"> <i class="fab fa-google-plus"></i> </a>
                            </li>
                            <li>
                                <a href="#" target="_blank"> <i class="fab fa-youtube-play"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix top-bar-wrapper">
                    <!--LANGS-->
                </div>
            </div>
        </div>
    </div>
</div>