<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-BR">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <title>Alexandre</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" />

   <link rel="stylesheet" href="/css/style.css" />
   <link rel="stylesheet" href="/css/font-awesome.css" />
 <link rel="stylesheet" href="/css/fontello.css" />
 <link rel="stylesheet" href="/css/animsition.min.css" />


 <link rel="stylesheet" href="/css/owl.carousel.css" />

 <link rel="stylesheet" href="/css/owl.theme.css" />

 <link rel="stylesheet" href="/css/imagehover.min.css" />

 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7cLibre+Baskerville:400,400i,700" />
 </head>




<body class="animsition" style="animation-duration: 1500ms; opacity: 1;">

   <%= yield %>
</body>
</html>