<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">Pricing</h1>
      </div>
    </div>
  </div>
</div>


<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="images/pricing-img-1.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Nail Polish</h2>
            <p class="mb30">Phasellus elit neque, blandit egestas is eleifend ut, condimentum nec tellamac sceleris ellentesque malesuada.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>MANICURE.......................................<span class="meta-price">$30</span></li>
              <li>SIMPLE NAILPAINT............................<span class="meta-price">$10</span></li>
              <li>NAIL PAINT DESIGN...........................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="images/pricing-img-2.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Make up</h2>
            <p class="mb30">Near eque blandit egestas is eleifend utcondimentum nec tellamac lorem sceleris ellent beauty salon.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>MAKEUP PARTY....................................<span class="meta-price">$30</span></li>
              <li>BRIDAL MAKEUP...................................<span class="meta-price">$10</span></li>
              <li>NEUTRAL EYE........................................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="images/pricing-img-3.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Hair style</h2>
            <p class="mb30">Phasellus elit neque, blandit egestas is eleifend ut, condimentum nec tellamac sceleris ellentesque malesuada.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>HAIR CUT AND STYLE.........................<span class="meta-price">$30</span></li>
              <li>Highlights with a Cut..................<span class="meta-price">$10</span></li>
              <li>TEXTURE AND CURL..........................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="images/pricing-img-4.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Facial</h2>
            <p class="mb30">Beauty salon eque blandit egestas isone eleifend ut condimentum nec tellamace sceleris ellentsque maleusada.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>Brightening................................<span class="meta-price">$30</span></li>
              <li>Anti- Aging...................................<span class="meta-price">$10</span></li>
              <li>Moisturizing..................................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="images/pricing-img-5.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Waxing</h2>
            <p class="mb30">Blandit near eque egestas is eleifend utcondimentum nec tellamac lorem sceleris ellent beauty salon.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>EYEBROW ARCH.....................................<span class="meta-price">$30</span></li>
              <li>Full Body..............................................<span class="meta-price">$10</span></li>
              <li>UNDERARM.............................................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="images/pricing-img-6.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Body Massage</h2>
            <p class="mb30">Beauty salon blandit egestas is eleifend ut condimente umnec tellamac sceleris ellentesque malesuada.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>DEEP TISSUE MASSAGE.........................<span class="meta-price">$30</span></li>
              <li>DESERT HOT STONE MASSAGe............<span class="meta-price">$10</span></li>
              <li>SWEDISH MASSAGE..............................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>