<div class="row mx-auto w-100 max-w-md texto-premio bg-cinza justify-content-center">
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 083272<br>Dezenas 08 32 72</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5001" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5001.jpg" alt="Ganhador">
                    <h4 class="card-title">Evani da Cruz Hartmann</h4>
                                        <h6 class="card-subtitle mb-2">Capão Raso, Curitiba - PR</h6>
                    <p class="card-text">Colaborador: Barbearia Piculo Bar</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5001" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Evani da Cruz Hartmann</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5001.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Capão Raso, Curitiba - PR</h6>
                        <p class="card-text">Colaborador: Barbearia Piculo Bar</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 344011<br>Dezenas 34 40 11</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5002" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5002.jpg" alt="Ganhador">
                    <h4 class="card-title">Luana Cristine Elias</h4>
                                        <h6 class="card-subtitle mb-2">Alto Boqueirão, Curitiba - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5002" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Luana Cristine Elias</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5002.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Alto Boqueirão, Curitiba - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 049744<br>Dezenas 04 97 44</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5003" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5003.jpg" alt="Ganhador">
                    <h4 class="card-title">Jemerson Gonçalves de Jesus</h4>
                                        <h6 class="card-subtitle mb-2">, Quatro Barras - PR</h6>
                    <p class="card-text">Colaborador: Pinheirão Loterias 3</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5003" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Jemerson Gonçalves de Jesus</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5003.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">, Quatro Barras - PR</h6>
                        <p class="card-text">Colaborador: Pinheirão Loterias 3</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 346512<br>Dezenas 34 65 12</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5004" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5004.jpg" alt="Ganhador">
                    <h4 class="card-title">Alessandro Silva de Souza</h4>
                                        <h6 class="card-subtitle mb-2">Tatuquara, Curitiba - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5004" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Alessandro Silva de Souza</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5004.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Tatuquara, Curitiba - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 239511<br>Dezenas 23 95 11</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5005" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5005.jpg" alt="Ganhador">
                    <h4 class="card-title">Terezinha do Carmo Costa Dias</h4>
                                        <h6 class="card-subtitle mb-2">Sítio Cercado, Curitiba - PR</h6>
                    <p class="card-text">Colaborador: Paninesi Panificadora</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5005" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Terezinha do Carmo Costa Dias</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5005.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Sítio Cercado, Curitiba - PR</h6>
                        <p class="card-text">Colaborador: Paninesi Panificadora</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 387262<br>Dezenas 38 72 62</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5006" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5006.jpg" alt="Ganhador">
                    <h4 class="card-title">Micheli da Luz Simioni</h4>
                                        <h6 class="card-subtitle mb-2">Campo Pequeno, Colombo - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5006" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Micheli da Luz Simioni</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5006.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Campo Pequeno, Colombo - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 127639<br>Dezenas 12 76 39</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5007" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5007.jpg" alt="Ganhador">
                    <h4 class="card-title">Pedro Sidnei Leal Vieira</h4>
                                        <h6 class="card-subtitle mb-2">Borda do Campo, Quatro Barras - PR</h6>
                    <p class="card-text">Colaborador: Com. Alim. Sabino&amp;Bileski</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5007" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Pedro Sidnei Leal Vieira</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5007.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Borda do Campo, Quatro Barras - PR</h6>
                        <p class="card-text">Colaborador: Com. Alim. Sabino&amp;Bileski</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 356111<br>Dezenas 35 61 11</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5008" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5008.jpg" alt="Ganhador">
                    <h4 class="card-title">Valdirene Rodrigues de Macedo</h4>
                                        <h6 class="card-subtitle mb-2">Campo Comprido, Curitiba - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5008" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Valdirene Rodrigues de Macedo</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5008.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Campo Comprido, Curitiba - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 363572<br>Dezenas 36 35 72</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5009" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5009.jpg" alt="Ganhador">
                    <h4 class="card-title">Luis Eduardo da Silva de Souza</h4>
                                        <h6 class="card-subtitle mb-2">São Gabriel, Colombo - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5009" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Luis Eduardo da Silva de Souza</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5009.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">São Gabriel, Colombo - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 344398<br>Dezenas 34 43 98</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5010" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5010.jpg" alt="Ganhador">
                    <h4 class="card-title">Angelo Augusto Mendes dos Santos</h4>
                                        <h6 class="card-subtitle mb-2">Planta Almirante, Almirante Tamandaré - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5010" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Angelo Augusto Mendes dos Santos</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5010.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Planta Almirante, Almirante Tamandaré - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 334439<br>Dezenas 33 44 39</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5011" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5011.jpg" alt="Ganhador">
                    <h4 class="card-title">Ana Lucia Schumanski Kuller Wagner</h4>
                                        <h6 class="card-subtitle mb-2">Oficinas, Ponta Grossa - PR</h6>
                    <p class="card-text">Colaborador: Kaziuk Modas</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5011" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Ana Lucia Schumanski Kuller Wagner</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5011.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Oficinas, Ponta Grossa - PR</h6>
                        <p class="card-text">Colaborador: Kaziuk Modas</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 008797<br>Dezenas 00 87 97</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5012" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5012.jpg" alt="Ganhador">
                    <h4 class="card-title">Roseneide Rodrigues da Silva</h4>
                                        <h6 class="card-subtitle mb-2">Bacacheri, Curitiba - PR</h6>
                    <p class="card-text">Colaborador: José</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5012" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Roseneide Rodrigues da Silva</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5012.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Bacacheri, Curitiba - PR</h6>
                        <p class="card-text">Colaborador: José</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 347674<br>Dezenas 34 76 74</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5013" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5013.jpg" alt="Ganhador">
                    <h4 class="card-title">Luiz Paulo Cecchetto</h4>
                                        <h6 class="card-subtitle mb-2">São Marcos, São José dos Pinhais - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5013" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Luiz Paulo Cecchetto</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5013.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">São Marcos, São José dos Pinhais - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 373262<br>Dezenas 37 32 62</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5014" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5014.jpg" alt="Ganhador">
                    <h4 class="card-title">Ivacir Sanley Martins</h4>
                                        <h6 class="card-subtitle mb-2">Santo Antônio, São José dos Pinhais - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5014" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Ivacir Sanley Martins</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5014.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Santo Antônio, São José dos Pinhais - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 305182<br>Dezenas 30 51 82</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5015" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5015.jpg" alt="Ganhador">
                    <h4 class="card-title">Divina de Fatima Nunes da Silva</h4>
                                        <h6 class="card-subtitle mb-2">Jardim das Américas, Curitiba - PR</h6>
                    <p class="card-text">Colaborador: Pet Chopp</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5015" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Divina de Fatima Nunes da Silva</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5015.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Jardim das Américas, Curitiba - PR</h6>
                        <p class="card-text">Colaborador: Pet Chopp</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 356429<br>Dezenas 35 64 29</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5016" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5016.jpg" alt="Ganhador">
                    <h4 class="card-title">Marcos José das Virgens</h4>
                                        <h6 class="card-subtitle mb-2">Tanguá, Almirante Tamandaré - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5016" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Marcos José das Virgens</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5016.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Tanguá, Almirante Tamandaré - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 346924<br>Dezenas 34 69 24</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5017" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5017.jpg" alt="Ganhador">
                    <h4 class="card-title">Eziane de Almeida dos Santos</h4>
                                        <h6 class="card-subtitle mb-2">Jardim Amélia, Pinhais - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5017" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Eziane de Almeida dos Santos</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5017.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Jardim Amélia, Pinhais - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 181733<br>Dezenas 18 17 33</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5018" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5018.jpg" alt="Ganhador">
                    <h4 class="card-title">Clodoaldo Telmo Genu</h4>
                                        <h6 class="card-subtitle mb-2">Parque da Fonte, São José dos Pinhais - PR</h6>
                    <p class="card-text">Colaborador: Supermercado Estrela</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5018" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Clodoaldo Telmo Genu</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5018.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Parque da Fonte, São José dos Pinhais - PR</h6>
                        <p class="card-text">Colaborador: Supermercado Estrela</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 048058<br>Dezenas 04 80 58</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5019" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5019.jpg" alt="Ganhador">
                    <h4 class="card-title">Gilberto Manoel Freire</h4>
                                        <h6 class="card-subtitle mb-2">Rio da Onça, Matinhos - PR</h6>
                    <p class="card-text">Colaborador: Goods Bar</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5019" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Gilberto Manoel Freire</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5019.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Rio da Onça, Matinhos - PR</h6>
                        <p class="card-text">Colaborador: Goods Bar</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 375808<br>Dezenas 37 58 08</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5020" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5020.jpg" alt="Ganhador">
                    <h4 class="card-title">Maria José Lauro de Arruda</h4>
                                        <h6 class="card-subtitle mb-2">Pilarzinho, Curitiba - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5020" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Maria José Lauro de Arruda</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5020.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Pilarzinho, Curitiba - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 359112<br>Dezenas 35 91 12</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5021" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5021.jpg" alt="Ganhador">
                    <h4 class="card-title">Marcelo Eduardo Lopes</h4>
                                        <h6 class="card-subtitle mb-2">Campo de Santana, Curitiba - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5021" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Marcelo Eduardo Lopes</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5021.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Campo de Santana, Curitiba - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 374392<br>Dezenas 37 43 92</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5022" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5022.jpg" alt="Ganhador">
                    <h4 class="card-title">Joseli Soares</h4>
                                        <h6 class="card-subtitle mb-2">Capela Velha, Araucária - PR</h6>
                    <p class="card-text">Colaborador: APP</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5022" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Joseli Soares</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5022.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Capela Velha, Araucária - PR</h6>
                        <p class="card-text">Colaborador: APP</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 196273<br>Dezenas 19 62 73</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5023" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5023.jpg" alt="Ganhador">
                    <h4 class="card-title">Patricia Scariot</h4>
                                        <h6 class="card-subtitle mb-2">Parque São João, Paranaguá - PR</h6>
                    <p class="card-text">Colaborador: Espetinho do Mario</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5023" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Patricia Scariot</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5023.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Parque São João, Paranaguá - PR</h6>
                        <p class="card-text">Colaborador: Espetinho do Mario</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 231363<br>Dezenas 23 13 63</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5024" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5024.jpg" alt="Ganhador">
                    <h4 class="card-title">Luiza Barankievicz</h4>
                                        <h6 class="card-subtitle mb-2">Jardim Esmeralda, Campo Largo - PR</h6>
                    <p class="card-text">Colaborador: Mercearia Marcon</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5024" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Luiza Barankievicz</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5024.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Jardim Esmeralda, Campo Largo - PR</h6>
                        <p class="card-text">Colaborador: Mercearia Marcon</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 234834<br>Dezenas 23 48 34</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5025" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5025.jpg" alt="Ganhador">
                    <h4 class="card-title">Amadeu Rodrigues Neves</h4>
                                        <h6 class="card-subtitle mb-2">Sítio Cercado, Curitiba - PR</h6>
                    <p class="card-text">Colaborador: Pedro J. Santos</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5025" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Amadeu Rodrigues Neves</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5025.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Sítio Cercado, Curitiba - PR</h6>
                        <p class="card-text">Colaborador: Pedro J. Santos</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 042531<br>Dezenas 04 25 31</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5026" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5026.jpg" alt="Ganhador">
                    <h4 class="card-title">Sebastião Balestra do Carmo</h4>
                                        <h6 class="card-subtitle mb-2">Pombas, Itaperuçu - PR</h6>
                    <p class="card-text">Colaborador: Distr. Silva</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5026" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Sebastião Balestra do Carmo</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5026.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Pombas, Itaperuçu - PR</h6>
                        <p class="card-text">Colaborador: Distr. Silva</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 321141<br>Dezenas 32 11 41</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5027" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5027.jpg" alt="Ganhador">
                    <h4 class="card-title">Jean Brasil</h4>
                                        <h6 class="card-subtitle mb-2">Jardim das Américas, Curitiba - PR</h6>
                    <p class="card-text">Colaborador: Sonia de Jesus</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5027" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Jean Brasil</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5027.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Jardim das Américas, Curitiba - PR</h6>
                        <p class="card-text">Colaborador: Sonia de Jesus</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 228282<br>Dezenas 22 82 82</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5028" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5028.jpg" alt="Ganhador">
                    <h4 class="card-title">Elias Ramos</h4>
                                        <h6 class="card-subtitle mb-2">Eucaliptos, Fazenda Rio Grande - PR</h6>
                    <p class="card-text">Colaborador: Aviário Canário/Elias</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5028" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Elias Ramos</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5028.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Eucaliptos, Fazenda Rio Grande - PR</h6>
                        <p class="card-text">Colaborador: Aviário Canário/Elias</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 297175<br>Dezenas 29 71 75</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5029" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5029.jpg" alt="Ganhador">
                    <h4 class="card-title">Marcos Paulo de Jesus Junior</h4>
                                        <h6 class="card-subtitle mb-2">Jardim Esperança, Paranaguá - PR</h6>
                    <p class="card-text">Colaborador: Lourena</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5029" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Marcos Paulo de Jesus Junior</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5029.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Jardim Esperança, Paranaguá - PR</h6>
                        <p class="card-text">Colaborador: Lourena</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                        <div class="card m-3 rounded w-100" style="max-width: 20rem;">
                <div class="card-header bg-white text-mms mx-auto texto-header-premio font-weight-bold text-center" style="height: 160px;">Título 119346<br>Dezenas 11 93 46</div>
                <div class="card-body text-center">
                <img class="avatar rounded" data-toggle="modal" data-target="#myModalGiro5030" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5030.jpg" alt="Ganhador">
                    <h4 class="card-title">Luiz Alberto Prass</h4>
                                        <h6 class="card-subtitle mb-2">Jardim Bela Vista, Piraquara - PR</h6>
                    <p class="card-text">Colaborador: Cantinho da Gula</p>
                </div>
                <!-- Modal com foto do ganhador do Giro da Sorte -->
                <div id="myModalGiro5030" "="" class="modal fade bd-example-modal-md" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-mms">Luiz Alberto Prass</h4>
                                                <h5 style="color:#000000 !important" ;="">Ganhador(a) de R$ 1.000,00 (MIL REAIS)</h5>
                    </div>
                    <div class="modal-body">
                        <img class="rounded" src="https://saas.megamaniadasorte.com.br/assets/images/ganhadores/rodada/5030.jpg" alt="Ganhador">
                    </div>
                    <div class="modal-footer bg-mms text-center">
                        <h6 class="card-subtitle mb-2">Jardim Bela Vista, Piraquara - PR</h6>
                        <p class="card-text">Colaborador: Cantinho da Gula</p>
                    </div>
                </div>
                </div>
                </div>
            </div>
                    </div>