<div class="container-fluid container-resultado">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1-responsive font-weight-bold text-center" style="padding-bottom:19px;" id="resultado">Resultados</h1>
            </div>
        </div>
        <div class="resultados">
            <div class="row resultados">               
                <div class="btn-lg">
                <input type="date" id="date" name="date" value="2021-05-02" list="thesedates" class="btn">
                    <datalist id="thesedates">
                                                    <option label="Edição 90">2021-05-16</option>
                                                    <option label="Edição 89">2021-05-09</option>
                                                    <option selected="selected" label="Edição 88">2021-05-02</option>
                                                    <option label="Edição 87">2021-04-25</option>
                                                    <option label="Edição 86">2021-04-18</option>
                                                    <option label="Edição 85">2021-03-16</option>
                                                    <option label="Edição 84">2021-02-21</option>
                                                    <option label="Edição 83">2021-02-14</option>
                                                    <option label="Edição 82">2021-02-07</option>
                                                    <option label="Edição 81">2021-01-31</option>
                                                    <option label="Edição 80">2021-01-24</option>
                                                    <option label="Edição 79">2021-01-17</option>
                                                    <option label="Edição 78">2021-01-10</option>
                                                    <option label="Edição 77">2020-12-27</option>
                                                    <option label="Edição 76">2020-12-20</option>
                                                    <option label="Edição 75">2020-12-13</option>
                                                    <option label="Edição 74">2020-12-06</option>
                                                    <option label="Edição 73">2020-11-29</option>
                                                    <option label="Edição 72">2020-11-22</option>
                                                    <option label="Edição 71">2020-11-15</option>
                                                    <option label="Edição 70">2020-11-08</option>
                                                    <option label="Edição 69">2020-11-01</option>
                                                    <option label="Edição 68">2020-10-25</option>
                                                    <option label="Edição 67">2020-10-18</option>
                                                    <option label="Edição 66">2020-10-11</option>
                                                    <option label="Edição 65">2020-10-04</option>
                                                    <option label="Edição 64">2020-09-27</option>
                                                    <option label="Edição 63">2020-09-20</option>
                                                    <option label="Edição 62">2020-09-13</option>
                                                    <option label="Edição 61">2020-09-06</option>
                                                    <option label="Edição 60">2020-08-30</option>
                                                    <option label="Edição 59">2020-08-23</option>
                                                    <option label="Edição 58">2020-08-16</option>
                                                    <option label="Edição 57">2020-08-09</option>
                                                    <option label="Edição 56">2020-08-02</option>
                                                    <option label="Edição 55">2020-07-05</option>
                                                    <option label="Edição 54">2020-06-28</option>
                                                    <option label="Edição 53">2020-06-21</option>
                                                    <option label="Edição 52">2020-06-14</option>
                                                    <option label="Edição 51">2020-06-07</option>
                                                    <option label="Edição 50">2020-05-31</option>
                                                    <option label="Edição 49">2020-05-24</option>
                                                    <option label="Edição 48">2020-05-17</option>
                                                    <option label="Edição 47">2020-05-10</option>
                                                    <option label="Edição 46">2020-03-22</option>
                                                    <option label="Edição 45">2020-03-15</option>
                                                    <option label="Edição 44">2020-03-08</option>
                                                    <option label="Edição 43">2020-03-01</option>
                                                    <option label="Edição 42">2020-02-23</option>
                                                    <option label="Edição 41">2020-02-16</option>
                                                    <option label="Edição 40">2020-02-09</option>
                                                    <option label="Edição 39">2020-02-02</option>
                                                    <option label="Edição 38">2020-01-26</option>
                                                    <option label="Edição 37">2020-01-19</option>
                                                    <option label="Edição 36">2020-01-12</option>
                                                    <option label="Edição 35">2019-12-29</option>
                                                    <option label="Edição 34">2019-12-22</option>
                                                    <option label="Edição 33">2019-12-15</option>
                                                    <option label="Edição 32">2019-12-08</option>
                                                    <option label="Edição 31">2019-12-01</option>
                                                    <option label="Edição 30">2019-11-24</option>
                                                    <option label="Edição 29">2019-11-17</option>
                                                    <option label="Edição 28">2019-11-10</option>
                                                    <option label="Edição 27">2019-11-03</option>
                                                    <option label="Edição 26">2019-10-27</option>
                                                    <option label="Edição 25">2019-10-20</option>
                                                    <option label="Edição 24">2019-10-13</option>
                                                    <option label="Edição 23">2019-10-06</option>
                                                    <option label="Edição 22">2019-09-29</option>
                                                    <option label="Edição 21">2019-09-22</option>
                                                    <option label="Edição 20">2019-09-15</option>
                                                    <option label="Edição 19">2019-09-08</option>
                                                    <option label="Edição 18">2019-09-01</option>
                                                    <option label="Edição 17">2019-08-25</option>
                                                    <option label="Edição 16">2019-08-18</option>
                                                    <option label="Edição 15">2019-08-11</option>
                                                    <option label="Edição 14">2019-08-04</option>
                                                    <option label="Edição 13">2019-07-28</option>
                                                    <option label="Edição 12">2019-07-21</option>
                                                    <option label="Edição 11">2019-07-14</option>
                                                    <option label="Edição 10">2019-07-07</option>
                                                    <option label="Edição 9">2019-06-30</option>
                                                    <option label="Edição 8">2019-06-23</option>
                                                    <option label="Edição 7">2019-06-16</option>
                                                    <option label="Edição 6">2019-06-09</option>
                                                    <option label="Edição 5">2019-06-02</option>
                                                    <option label="Edição 4">2019-05-26</option>
                                                    <option label="Edição 3">2019-05-19</option>
                                                    <option label="Edição 2">2019-05-12</option>
                                                    <option label="Edição 1">2019-05-05</option>
                                                    <option label="Edição 152">2019-04-28</option>
                                                    <option label="Edição 151">2019-04-21</option>
                                                    <option label="Edição 150">2019-04-14</option>
                                                    <option label="Edição 149">2019-04-07</option>
                                                    <option label="Edição 148">2019-03-31</option>
                                                    <option label="Edição 147">2019-03-24</option>
                                                    <option label="Edição 146">2019-03-17</option>
                                                    <option label="Edição 145">2019-03-10</option>
                                                    <option label="Edição 144">2019-03-03</option>
                                                    <option label="Edição 143">2019-02-24</option>
                                                    <option label="Edição 142">2019-02-17</option>
                                                    <option label="Edição 141">2019-02-10</option>
                                                    <option label="Edição 140">2019-02-03</option>
                                                    <option label="Edição 139">2019-01-27</option>
                                                    <option label="Edição 138">2019-01-20</option>
                                                    <option label="Edição 137">2019-01-13</option>
                                                    <option label="Edição 136">2019-01-06</option>
                                                    <option label="Edição 135">2018-12-23</option>
                                                    <option label="Edição 134">2018-12-16</option>
                                                    <option label="Edição 133">2018-12-09</option>
                                                    <option label="Edição 132">2018-12-02</option>
                                                    <option label="Edição 131">2018-11-25</option>
                                                    <option label="Edição 130">2018-11-18</option>
                                                    <option label="Edição 129">2018-11-11</option>
                                                    <option label="Edição 128">2018-11-04</option>
                                                    <option label="Edição 127">2018-10-28</option>
                                                    <option label="Edição 126">2018-10-21</option>
                                                    <option label="Edição 125">2018-10-14</option>
                                                    <option label="Edição 124">2018-10-07</option>
                                                    <option label="Edição 123">2018-09-30</option>
                                                    <option label="Edição 122">2018-09-23</option>
                                                    <option label="Edição 121">2018-09-16</option>
                                                    <option label="Edição 120">2018-09-09</option>
                                                    <option label="Edição 119">2018-09-02</option>
                                                    <option label="Edição 118">2018-08-26</option>
                                                    <option label="Edição 117">2018-08-19</option>
                                                    <option label="Edição 116">2018-08-12</option>
                                                    <option label="Edição 115">2018-08-05</option>
                                                    <option label="Edição 114">2018-07-29</option>
                                                    <option label="Edição 113">2018-07-22</option>
                                                    <option label="Edição 112">2018-07-15</option>
                                                    <option label="Edição 111">2018-07-08</option>
                                                    <option label="Edição 110">2018-07-01</option>
                                                    <option label="Edição 109">2018-06-24</option>
                                                    <option label="Edição 108">2018-06-17</option>
                                                    <option label="Edição 107">2018-06-10</option>
                                                    <option label="Edição 106">2018-06-03</option>
                                                    <option label="Edição 105">2018-05-27</option>
                                                    <option label="Edição 104">2018-05-20</option>
                                                    <option label="Edição 103">2018-05-13</option>
                                                    <option label="Edição 102">2018-05-06</option>
                                                    <option label="Edição 101">2018-04-29</option>
                                                    <option label="Edição 100">2018-04-22</option>
                                                    <option label="Edição 99">2018-04-15</option>
                                                    <option label="Edição 98">2018-04-08</option>
                                                    <option label="Edição 97">2018-04-01</option>
                                                    <option label="Edição 96">2018-03-25</option>
                                                    <option label="Edição 95">2018-03-18</option>
                                                    <option label="Edição 94">2018-03-11</option>
                                                    <option label="Edição 93">2018-03-04</option>
                                                    <option label="Edição 92">2018-02-25</option>
                                                    <option label="Edição 91">2018-02-18</option>
                                                    <option label="Edição 90">2018-02-11</option>
                                                    <option label="Edição 89">2018-02-04</option>
                                                    <option label="Edição 88">2018-01-28</option>
                                                    <option label="Edição 87">2018-01-21</option>
                                                    <option label="Edição 86">2018-01-14</option>
                                                    <option label="Edição 85">2018-01-07</option>
                                                    <option label="Edição 84">2017-12-24</option>
                                                    <option label="Edição 83">2017-12-17</option>
                                                    <option label="Edição 82">2017-12-10</option>
                                                    <option label="Edição 81">2017-12-03</option>
                                                    <option label="Edição 80">2017-11-26</option>
                                                    <option label="Edição 79">2017-11-19</option>
                                                    <option label="Edição 78">2017-11-12</option>
                                                    <option label="Edição 77">2017-11-05</option>
                                                    <option label="Edição 76">2017-10-29</option>
                                                    <option label="Edição 75">2017-10-22</option>
                                                    <option label="Edição 74">2017-10-15</option>
                                                    <option label="Edição 73">2017-10-08</option>
                                                    <option label="Edição 72">2017-10-01</option>
                                                    <option label="Edição 71">2017-09-24</option>
                                                    <option label="Edição 70">2017-09-17</option>
                                                    <option label="Edição 69">2017-09-10</option>
                                                    <option label="Edição 68">2017-09-03</option>
                                                    <option label="Edição 67">2017-08-27</option>
                                                    <option label="Edição 66">2017-08-20</option>
                                                    <option label="Edição 65">2017-08-13</option>
                                                    <option label="Edição 64">2017-08-06</option>
                                                    <option label="Edição 63">2017-07-30</option>
                                                    <option label="Edição 62">2017-07-23</option>
                                                    <option label="Edição 61">2017-07-16</option>
                                                    <option label="Edição 60">2017-07-09</option>
                                                    <option label="Edição 59">2017-07-02</option>
                                                    <option label="Edição 58">2017-06-25</option>
                                                    <option label="Edição 57">2017-06-18</option>
                                                    <option label="Edição 56">2017-06-11</option>
                                                    <option label="Edição 55">2017-06-04</option>
                                                    <option label="Edição 54">2017-05-28</option>
                                                    <option label="Edição 53">2017-05-21</option>
                                                    <option label="Edição 52">2017-05-14</option>
                                                    <option label="Edição 51">2017-05-07</option>
                                                    <option label="Edição 50">2017-04-30</option>
                                                    <option label="Edição 49">2017-04-23</option>
                                                    <option label="Edição 48">2017-04-16</option>
                                                    <option label="Edição 47">2017-04-09</option>
                                                    <option label="Edição 46">2017-04-02</option>
                                                    <option label="Edição 45">2017-03-26</option>
                                                    <option label="Edição 44">2017-03-19</option>
                                                    <option label="Edição 43">2017-03-12</option>
                                                    <option label="Edição 42">2017-03-05</option>
                                                    <option label="Edição 41">2017-02-26</option>
                                                    <option label="Edição 40">2017-02-19</option>
                                                    <option label="Edição 39">2017-02-12</option>
                                                    <option label="Edição 38">2017-02-05</option>
                                                    <option label="Edição 37">2017-01-29</option>
                                                    <option label="Edição 36">2017-01-22</option>
                                                    <option label="Edição 35">2017-01-15</option>
                                                    <option label="Edição 34">2017-01-08</option>
                                                    <option label="Edição 33">2016-12-25</option>
                                                    <option label="Edição 32">2016-12-18</option>
                                                    <option label="Edição 31">2016-12-11</option>
                                                    <option label="Edição 30">2016-12-04</option>
                                                    <option label="Edição 29">2016-11-27</option>
                                                    <option label="Edição 28">2016-11-20</option>
                                                    <option label="Edição 27">2016-11-13</option>
                                                    <option label="Edição 26">2016-11-06</option>
                                                    <option label="Edição 25">2016-10-30</option>
                                                    <option label="Edição 24">2016-10-23</option>
                                                    <option label="Edição 23">2016-10-16</option>
                                                    <option label="Edição 22">2016-10-09</option>
                                                    <option label="Edição 21">2016-10-02</option>
                                                    <option label="Edição 20">2016-09-25</option>
                                                    <option label="Edição 19">2016-09-18</option>
                                                    <option label="Edição 18">2016-09-11</option>
                                                    <option label="Edição 17">2016-09-04</option>
                                                    <option label="Edição 16">2016-08-28</option>
                                                    <option label="Edição 15">2016-08-21</option>
                                                    <option label="Edição 14">2016-08-14</option>
                                                    <option label="Edição 13">2016-08-07</option>
                                                    <option label="Edição 12">2016-07-31</option>
                                                    <option label="Edição 11">2016-07-24</option>
                                                    <option label="Edição 10">2016-07-17</option>
                                                    <option label="Edição 9">2016-07-10</option>
                                                    <option label="Edição 8">2016-07-03</option>
                                                    <option label="Edição 7">2016-06-26</option>
                                                    <option label="Edição 6">2016-06-19</option>
                                                    <option label="Edição 5">2016-06-12</option>
                                                    <option label="Edição 4">2016-06-05</option>
                                                    <option label="Edição 3">2016-05-29</option>
                                                    <option label="Edição 2">2016-05-22</option>
                                                    <option label="Edição 1">2016-05-15</option>
                                                    <option label="Edição 65">2016-04-10</option>
                                                    <option label="Edição 64">2016-04-03</option>
                                                    <option label="Edição 63">2016-03-27</option>
                                                    <option label="Edição 62">2016-03-20</option>
                                                    <option label="Edição 61">2016-03-13</option>
                                                    <option label="Edição 60">2016-03-06</option>
                                                    <option label="Edição 59">2016-02-28</option>
                                                    <option label="Edição 58">2016-02-21</option>
                                                    <option label="Edição 57">2016-02-14</option>
                                                    <option label="Edição 56">2016-02-07</option>
                                                    <option label="Edição 55">2016-01-31</option>
                                                    <option label="Edição 54">2016-01-24</option>
                                                    <option label="Edição 53">2016-01-17</option>
                                                    <option label="Edição 52">2016-01-10</option>
                                                    <option label="Edição 51">2015-12-27</option>
                                                    <option label="Edição 50">2015-12-20</option>
                                                    <option label="Edição 49">2015-12-13</option>
                                                    <option label="Edição 48">2015-12-06</option>
                                                    <option label="Edição 47">2015-11-29</option>
                                                    <option label="Edição 46">2015-11-22</option>
                                                    <option label="Edição 45">2015-11-15</option>
                                                    <option label="Edição 44">2015-11-08</option>
                                                    <option label="Edição 43">2015-11-01</option>
                                                    <option label="Edição 42">2015-10-25</option>
                                                    <option label="Edição 41">2015-10-18</option>
                                                    <option label="Edição 40">2015-10-11</option>
                                                    <option label="Edição 39">2015-10-04</option>
                                                    <option label="Edição 38">2015-09-27</option>
                                                    <option label="Edição 37">2015-09-20</option>
                                                    <option label="Edição 36">2015-09-13</option>
                                                    <option label="Edição 35">2015-09-06</option>
                                                    <option label="Edição 34">2015-08-30</option>
                                                    <option label="Edição 33">2015-08-23</option>
                                                    <option label="Edição 32">2015-08-16</option>
                                                    <option label="Edição 31">2015-08-09</option>
                                                    <option label="Edição 30">2015-08-02</option>
                                                    <option label="Edição 29">2015-07-26</option>
                                                    <option label="Edição 28">2015-07-19</option>
                                                    <option label="Edição 27">2015-07-12</option>
                                                    <option label="Edição 26">2015-07-05</option>
                                                    <option label="Edição 25">2015-06-28</option>
                                                    <option label="Edição 24">2015-06-21</option>
                                                    <option label="Edição 23">2015-06-14</option>
                                                    <option label="Edição 22">2015-06-07</option>
                                                    <option label="Edição 21">2015-05-31</option>
                                                    <option label="Edição 20">2015-05-24</option>
                                                    <option label="Edição 19">2015-05-17</option>
                                                    <option label="Edição 18">2015-05-10</option>
                                                    <option label="Edição 17">2015-05-03</option>
                                                    <option label="Edição 16">2015-04-26</option>
                                                    <option label="Edição 15">2015-04-19</option>
                                                    <option label="Edição 14">2015-04-12</option>
                                                    <option label="Edição 13">2015-04-05</option>
                                                    <option label="Edição 12">2015-03-29</option>
                                                    <option label="Edição 11">2015-03-22</option>
                                                    <option label="Edição 10">2015-03-15</option>
                                                    <option label="Edição 9">2015-03-08</option>
                                                    <option label="Edição 8">2015-03-01</option>
                                                    <option label="Edição 7">2015-02-22</option>
                                                    <option label="Edição 6">2015-02-15</option>
                                                    <option label="Edição 5">2015-02-08</option>
                                                    <option label="Edição 4">2015-02-01</option>
                                                    <option label="Edição 3">2015-01-25</option>
                                                    <option label="Edição 2">2015-01-18</option>
                                                    <option label="Edição 1">2015-01-11</option>
                                            </datalist>
                </div>
              
                    <div class="p-2 text-center">
                    <button id="getResult" class="btn btn-secondary btn-lg">Buscar</button>
               
                </div>
                <br>
            </div> 
            <div class="row resultados" style="grid-template-columns: 127px 150px;">
           
           
            </div>
        </div>
    </div>